{% include "./chat_top.html" %}
<div id="chat_wrap">
    <div id="chat_pic">
        <img src="/chat/chat_couples.jpg" height=220 width=370>
    </div>
    <div id="help">
        <h1>도움이 필요하신가요?</h1>
    </div>
    <div id="chatTop">
        <div class="chat_boxes">
            <div>
                <h3>가지고 있는 제품에 대한 지원이 필요합니다. </h3>
            </div>
            <div>
                <p>갖고 계신 Apple 제품 또는 이용 중인 Apple 서비스와 관련하여 도움이 필요하신가요?</p>
            </div>
            <div class="chat_div">
                <a class="chat_btn" href="#">Apple 지원 방문하기</a>
            </div>
        </div>
    </div>
    <div id="chatMiddle">
        <div class="chat_boxes">
            <div>
                <h3>주문 관련 도움이 필요합니다. </h3>
            </div>
            <div>
                <p>주문 처리 상태를 확인하거나 주문을 변경하고 싶으신가요?</p>
            </div>
            <div class="chat_div">
                <a class="chat_btn" href="#">주문 찾기</a>

            </div>
        </div>
    </div>
    <div id="chatBottom">
        <div class="chat_boxes">
            <div>
                <h3>제품 구입에 대한 도움이 필요합니다.</h3>
            </div>
            <div>
                <p>Apple 제품에 관한 자세한 정보나 제품 구입과 관련한 도움이 필요하신가요?</p>
            </div>
            <div class="chat_div">
                <a class="chat_btn" href="/user/chatHelp">스페셜리스트에게 문의</a>
            </div>
        </div>
    </div>
    <div id="footer">

    </div>
</div>


<script type="text/javascript" src="/chat/chat.js"></script>
{% include "./chat_bottom.html" %}