{% include "./chat_top.html" %}
<div id="wrap">
    <a href="/user/chat">
        <img src="../../chat/gt.png">
    </a>
    <div id="chatHelp_top">
        <h1>어떤 도움이<br />필요하신가요?</h1>
    </div>

    <div class="chatHelp_boxes">
        <a href="/user/chatBtn" id="chatHelp_box1" class="chatHelp_box">
            <div>
                <img src="../../chat/chat_pic1.svg">
            </div>
            <h3>
                온라인으로 채팅을 통해 <br /> 문의해주십시오.
            </h3>
            <p>
                저희가 웹을 통해<br /> 편리하게 도와드리겠습니다.
            </p>
        </a>
    </div>


    <div id="help_box2" class="chatHelp_boxes">
        <a href="#" id="chatHelp_box2" class="chatHelp_box">
            <div>
                <img src="../../chat/chat_pic2.svg">
            </div>
            <h3>
                전화로 문의해 주십시오.
            </h3>
            <p>
                월요일~금요일 오전 9시에서 오후 9시, <br />토요일~일요일 오전 10시에서 <br />오후 9시 사이에 080-330-8877번으로<br /> 전화해 주십시오.
            </p>
        </a>
    </div>

</div>

{% include "./chat_bottom.html" %}