<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../../admin/css/main.css">
</head>
<body>
    <div class = "headerWrap wrap">
        <div class = "header w1200">
            <div class = "logo">
                <img src = "">
            </div>
            <div class = "user blue">
                <div class = "">관리자 <span>{{userid}}</span>님</div>
                <a href = "/admin/logout">로그아웃</a>
            </div>
        </div>
    </div>
    <div class = "middleWrap wrap">
        <div class = "middle w1200">
            <div class = "menu">
                <div>카테고리</div>
                <ul>
                    <li style = "color:grey;">사용자/구매 내역</li>
                    <li style = "margin-left: 20px;"><a href = "/admin/history">구매 내역 관리</a></li>
                    <li style = "margin-left: 20px;"><a href = "/admin/user_list">사용자 관리</a></li>   
                    <li style = "color:grey;">서비스/과목 관리</li>
                    <li style = "margin-left: 20px;"><a href = "/admin/product_list">교육 서비스 관리</a></li>
                    <li style = "margin-left: 20px;"><a href = "/admin/skill">과목 관리</a></li>
                    <li style = "color:grey;">수강 후기/Q&A/고객 문의 관리</li>
                    <li style = "margin-left: 20px;"><a href = "/admin/valuation">수강 후기 관리</a></li>
                    <li style = "margin-left: 20px;"><a href = "/admin/question">질문 관리</a></li>
                    <li style = "margin-left: 20px;"><a href = "/admin/answer">답변 관리</a></li>
                    <li style = "margin-left: 20px;" class = "margintop"><a href = "/admin/chat_list">고객 문의/채팅</a></li>
                </ul>
                <div class = >유저정보</div>
                <ul>
                    <li><a href = "/admin/admin_info">관리자 정보</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>