<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "headerWrap wrap">
        <div class = "header w1200">
            <div class = "logo">
                <img src = "">
            </div>
            <div class = "user">
                <img src = "">
                <div class = "userId">

                </div>
            </div>
        </div>
    </div>
    <div class = "middleWrap wrap">
        <div class = "middle w1200">
            <div class = "menu">
                <div>카테고리</div>
                <ul>
                    <li><a href = "">팝업 관리</a></li>
                    <li><a href = "">상품 관리</a></li>
                    <li><a href = "">고객 문의/채팅</a></li>
                </ul>
                <div>유저정보</div>
                <ul>
                    <li><a href = "">관리자 정보</a></li>
                </ul>
            </div>
            <div class = "content">
                <div class = "">웹 기본정보</div>
                <table>
                    <tr>
                        <td>사이트명</td>
                        <td><input type = "text" value = "애플"></td>
                    </tr>
                    <tr>
                        <td>사이트 URL</td>
                        <td><input type = "text" value = "http://www.apple.com"></td>
                    </tr>
                    <tr>
                        <td>대표 이메일</td>
                        <td><input type = "text" value = "http://www.apple.com"></td>
                    </tr>
                </table>
                <div class = "">업체정보</div>
                <table>
                    <tr>
                        <td>사업자 등록 번호</td>
                        <td><input type = "text" value = "012"><input type = "text" value = "012"><input type = "text" value = "012"></td>
                    </tr>
                    <tr>
                        <td>대표자</td>
                        <td><input type = "text" value = "김승원"></td>
                    </tr>
                    <tr>
                        <td>사업장 주소</td>
                        <td><input type = "text" value = "서울특별시 이태원로 "></td>
                    </tr>
                    <tr>
                        <td>전화번호</td>
                        <td><input type = "text" value = "111"><input type = "text" value = "111"><input type = "text" value = "111"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>