*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.wrap{
    width:100%;
}

.w1200{
    width:1500px;
    margin:0 auto;
}

.logo{
    float:left;
}

.user{
    float:right;
    margin-top:50px;
}
.user>div{
    float:left;
    display: inline-block;
    margin-right: 20px;
}
.searchwidth{
    width:300px;
    margin-top: 25px;
}
.buttonwidth{
    width:30px;
    background: #80808080;
    color:whitesmoke;
}
.searchheight{
    height:30px;
}
.search{
    height:250px;
    width:1040px;
}

.middle{
    clear: both;
}

.menu{
    float:left;
    display: inline-block;
    background:#404040;
    color:whitesmoke;
    line-height: 30px;
    width:230px;
    box-sizing: border-box;
    padding:20px;
    height:900px;
}
.menu>ul>li>a{
    color:whitesmoke;
}
.menu>ul{
    margin-left: 30px;
}

.margintop{
    margin-bottom: 50px;
}
.content{
    display: inline-block;
    float:left;
    box-sizing: border-box;
    padding:25px;
    margin-left:35px;
    width:1040px;
    text-align: center;
   
}
.content>div{
    margin:0 auto;
    width:300px;
}
.content>div>form>div{
    margin-bottom: 50px;
}

#chatBtn{
    margin-top: 20px;
}

.content>div>form>div>div{
    margin-bottom: 20px;
}

.grey{
    background: #808080;
    text-align: center;
    color:whitesmoke;
    width:800px;
    margin-bottom: 50px;
    height:35px;
    padding:12px;
    box-sizing: border-box;
    height:50px;
    font-size: 20px;
}

.grey2{
    background: #808080;
    text-align: center;
    color:whitesmoke;
    width:800px;
    margin-bottom: 50px;
    height:35px;
    padding:12px;
    box-sizing: border-box;
    height:50px;
    font-size: 20px;
}
.delete{
    background: #80808080;
    color:whitesmoke;
}
.blue>a, .blue>div>span{
    color:#6666ff;
}


.table{
    text-align: center;
}

#img1, #img{width:230px; 
height:200px;}

.product_name_length{
    width:150px;
}

.content>div>form>div>div{
    background: #808080;
    color:whitesmoke;
    text-align: center;

}

.content>div>a{
    color:#6666ff;
}
#chat{
    width:500px;
    height:600px;
    background: #404040;
    overflow: scroll;
    clear: both;
}
#chatInputArea{
    margin-bottom: 60px;
    clear:both;
}
.my{
    float:right;
    clear: both;
    color:#e0e0e0;

}

.you{
    clear: both;
    float:left;
    color:#99ccff;
}

#msg{
    width:445px;
    height:30px;
}

#button{
    width:45px;
    height:35px;
}

#chat > div > span{
    display: block;
    padding: 7px 14px;
    border-radius: 15px;
}
#chat>div{
    display: block;
}