*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.wrap{
    width:100%;
}

.w1200{
    width:1500px;
    margin:0 auto;
}

.logo{
    float:left;
}

.user{
    float:right;
    margin-top:50px;
}
.user>div{
    float:left;
    display: inline-block;
    margin-right: 20px;
}
.searchwidth{
    width:300px;
    margin-top: 25px;
}
.buttonwidth{
    width:30px;
    background: #80808080;
    color:whitesmoke;
}
.searchheight{
    height:30px;
}
.search{
    height:250px;
}

.middle{
    clear: both;
}

.menu{
    float:left;
    display: inline-block;
    background:#404040;
    color:whitesmoke;
    line-height: 30px;
    width:230px;
    box-sizing: border-box;
    padding:20px;
    height:1200px;
    margin-right: 100px;
}

#pagination{
    margin-top: 50px;
}
.menu>ul>li>a{
    color:whitesmoke;
}
.menu>ul{
    margin-left: 30px;
}

.margintop{
    margin-bottom: 50px;
}
.content{
    display: inline-block;
    box-sizing: border-box;
    padding:30px;
    margin-left:35px;
    width:1040px;
}
.content>div>form>div{
    margin-bottom: 50px;
}

.content>div>form>div>div{
    margin-bottom: 20px;
}

.grey{
    background: #808080;
    text-align: center;
    color:whitesmoke;
}
.delete{
    background: #80808080;
    color:whitesmoke;
}
.blue>a, .blue>div>span{
    color:#6666ff;
}

.margin_top{
    margin-top: 100px;
}
.table{
    text-align: center;
    width:1040px;
    display: inline-block;
}

#img1, #img{width:230px; 
height:200px;}

.pager>.product_name_length{
    width:150px;
}
.product_name_length{
    width:150px;
}

.content>div>form>div>div{
    background: #808080;
    color:whitesmoke;
    text-align: center;

}
.content4{
    padding:30px;
    margin-left: 100px;
}
.back{
    background: #808080;
    color:whitesmoke;
    width:40px;
    height:10px;
    margin-right: 18px;
}

.next{
    background: #808080;
    color:whitesmoke;
    width:40px;
    height:10px;
    margin-left: 5px;
}

.NUMBER{
    margin-right: 15px;
}

.value{
    width:400px;
}

.value2{
    width:200px;
}
.w1000{
    width:1200px;
    margin: 0 auto;
}