*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.wrap{
    width:100%;
}

.w1200{
    width:1000px;
    margin:0 auto;
}

.logo{
    float:left;
}

.user{
    float:right;
    margin-top:50px;
}
.user>div{
    float:left;
    display: inline-block;
    margin-right: 20px;
}
.searchwidth{
    width:300px;
    margin-top: 25px;
}
.buttonwidth{
    width:30px;
    background: #80808080;
    color:whitesmoke;
}
.searchheight{
    height:30px;
}
.search{
    height:250px;
}

.middle{
    clear: both;
}

.menu{
    float:left;
    display: inline-block;
    background:#404040;
    color:whitesmoke;
    line-height: 30px;
    width:200px;
    box-sizing: border-box;
    padding:20px;
    height:900px;
}
.menu>ul>li>a{
    color:whitesmoke;
}
.menu>ul{
    margin-left: 30px;
}

.margintop{
    margin-bottom: 50px;
}
.content{
    display: inline-block;
    float:left;
    box-sizing: border-box;
    padding:30px;
    margin-left:35px;
}
.content>div>form>div{
    margin-bottom: 50px;
}

.content>div>form>div>div{
    margin-bottom: 20px;
}

.grey{
    background: #808080;
    text-align: center;
    color:whitesmoke;
    margin-bottom: 110px;
    padding:5px;
    box-sizing: border-box;
}
.delete{
    background: #80808080;
    color:whitesmoke;
}
.blue>a, .blue>div>span{
    color:#6666ff;
}


.table{
    text-align: center;
}


.product_name_length{
    width:150px;
}

.content>div>form>div>div{
    background: #808080;
    color:whitesmoke;
    text-align: center;

}

.w100{
    width:100px;
    background: #808080;
    text-align: center;
    color:whitesmoke;
    height:80px;
}
.w600{
    text-align: center;
    width:550px;
    height:80px;
}

.table{
    margin-bottom: 80px;
}

.greyBtn{
    background: #808080;
    color:whitesmoke;
    width:73px;
    height:24px;

}

.blueBtn{
    background: white;
    color:#6666ff;
    border:1px solid white;
    font-size: 20px;
}