.body{
    font-size: 17px;
    font-weight: 400;
    color: #1d1d1f;
}

.div{
    display: block;
}

#ac-ln-sticky-placeholder{
    display: block;
    margin: 0;
    padding:0;
    position: relative;
    visibility: hidden;
    z-index: -1;
}

#ac-localnav.css-sticky{
    position: sticky;
}

.ac-nav-overlap #ac-localnav{
    margin-top: 44px;
    margin-bottom: -96px;
}

.section_hero{
    z-index: 13;
    position: relative;
}

.section_fill-light-alt{
    background-color: #f2f2f2;
}

.section{
    overflow: visible;
    z-index: 1;
    position: relative;
    display: block;
}

html.enhance-base-xp.enhance-hero .section-hero .sticky-wrapper{
    position: relative;
    height: 140vh;
    min-height: 1279.6px;
}

/*************** sticky wrapper ****************/

.section-hero .video-container .startframe{
    position: absolute;
    z-index: 1;
    width: 1188px;
    height: 914px;
    background-size: 1188px 914px;
    background-repeat: no-repeat;
    background-image: url(
        https://www.apple.com/kr/iphone-12/g/images/overview/hero/hero_startframe__gjx0olcpbkyi_large.jpg
    );
}
.hidden{
    visibility: hidden !important;
}
.section-hero .video-container .endframe{
    position: absolute;
    z-index: 3;
    opacity: 1;
    width: 1188px;
    height: 914px;
    background-size: 1188px 914px;
    background-repeat: no-repeat;
    background-image: url(
        https://www.apple.com/kr/iphone-12/g/images/overview/hero/hero_endframe__fc7apyu3c7au_large.jpg
    );
}

.section-hero .video-container video{
    position: absolute;
    z-index: 2;
    width: 1188px;
    height: 914px;
    opacity: 0;

}


.section-hero .video-container.loaded video {
    transition: opacity .2s ease-out;
    opacity: 1;
}

.section-hero .video-container.show{
    transition: opacity 1s ease-in;
    opacity: 1;
}

.section-hero .video-container{
    width: 1188px;
    height: 914px;
}