</body>
<!---- end body ---->

<script src="/index.js"></script>
<script src="/main/section1.js"></script>
<footer>
    <footer id="ac-globalfooter" class="js flexbox">
        <section class="ac-gf-footer">
            <div class="ac-gf-footer-mini">
                <div class="ac-gf-footer-shop">
                    다양한 쇼핑 방법:
                    <a href="#">Apple Store를 방문</a>
                    하거나,
                    <a href="#">리셀러</a>
                    를 찾아보거나, 080-330-8877번으로 전화하세요.
                </div>
                
                <div class="ac-gf-footer-legal">
                    <div class="ac-gf-footer-legal-copyright">Copyright &copy; 2021 Apple Inc. 모든 권리 보유</div>
                    <div class="ac-gf-footer-legal-links">
                        <a class="ac-gf-footer-legal-link con" href="#">개인정보 처리방침</a>
                        <a class="ac-gf-footer-legal-link con" href="#">약관</a>
                        <a class="ac-gf-footer-legal-link con" href="#">판매 및 환불</a>
                        <a href="#" class="ac-gf-footer-legal-link con">법적 고지</a>
                        <a href="#" class="ac-gf-footer-legal-link">사이트 맵</a>
                        
                        <a class="ac-gf-footer-locale-link choose" href="#">대한민국</a>
                    </div>
                </div>
            </div> 
        </section>
    </footer>
</footer>
</html>