</body>
<!---- end body ---->

<!--  Main Page 채팅창 띄우기 -->
<script type="text/javascript" src="/index.js"></script>


<!-- Google signOut 로그아웃 -->
<script>
    async function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(async function () {
            console.log('User signed out.');

            let url = `http://localhost:3000/user/google_logout`;
            let options = {
                method: 'POST',
                headers: {
                    'content-type': 'application/json',
                }
            }
            let response = await fetch(url, options);
            let res_body = await response.json();
            let { msg } = res_body;
            alert(msg)
            location.href = 'http://localhost:3000/user/google_logout'
        });
    }

    function onLoad() {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    }
</script>
<!--아래 script 들  위 <HEAD> 로 옮기면 실행 x 안됨 -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

<script type="text/javascript" src="/admin/js/chat.js"></script>
<script type="text/javascript">
    function openWindowPop(url, name) {
        var options = 'top=100, left=500, width=800, height=660, status=no, menubar=no, toolbar=no, resizable=no';
        window.open(url, name, options);
    }
</script>


<footer>
    <footer id="ac-globalfooter" class="js flexbox">
        <section class="ac-gf-footer">
            <div class="ac-gf-footer-mini">
                <div class="ac-gf-footer-shop">
                    다양한 쇼핑 방법:
                    <a href="#">Apple Store를 방문</a>
                    하거나,
                    <a href="#">리셀러</a>
                    를 찾아보거나, 080-330-8877번으로 전화하세요.
                </div>
                <div class="ac-gf-footer-legal">
                    <div class="ac-gf-footer-legal-copyright">Copyright &copy; 2021 Apple Inc. 모든 권리 보유</div>
                    <div class="ac-gf-footer-legal-links">
                        <a class="ac-gf-footer-legal-link con" href="#">개인정보 처리방침</a>
                        <a class="ac-gf-footer-legal-link con" href="#">약관</a>
                        <a class="ac-gf-footer-legal-link con" href="#">판매 및 환불</a>
                        <a href="#" class="ac-gf-footer-legal-link con">법적 고지</a>
                        <a href="#" class="ac-gf-footer-legal-link">사이트 맵</a>

                        <a class="ac-gf-footer-locale-link choose" href="#">대한민국</a>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</footer>

<script type="text/javascript">
    const backgroundKey001 = document.querySelector('.backgroundKey001');
    const backgroundKey001Top = backgroundKey001.getBoundingClientRect().top;
    const backgroundKey001Bottom = backgroundKey001.getBoundingClientRect().bottom;
    const backgroundBlue = document.querySelector('.backgroundBlue');
    const backgroundBlueTop = backgroundBlue.getBoundingClientRect().top;

    function syScroll() {
        var nowScroll = document.documentElement.scrollTop;
        if (nowScroll >= backgroundKey001Top && backgroundKey001Bottom >= nowScroll) {

            const purple1 = document.querySelector('.img-purple1');
            const purple2 = document.querySelector('.img-purple2');

            let len = backgroundBlueTop - backgroundKey001Top;
            let matrixNum = (nowScroll - backgroundBlueTop) / len;

            purple1.style.transform = `matrix(1, 0, 0, 1, 0, ${150 + matrixNum * 150})`;
            purple2.style.transform = `matrix(1, 0, 0, 1, 0, ${-matrixNum * 150})`;
        }

    }
    const backgroundOn = new IntersectionObserver(entries => {
        entries.forEach(entry => {

            if (entry.intersectionRatio > 0 && entry.intersectionRatio < 0.1) {
                entry.target.style.opacity = '1';
            } else {
                entry.target.style.opacity = '0';
            }
        })
    })

    const backgrounds = document.querySelector('.backgroundWhite');
    
    backgroundOn.observe(backgrounds);

    window.addEventListener('scroll', syScroll);



    function syScroll() {
        var nowScroll = document.documentElement.scrollTop;
        if (nowScroll >= backgroundKey001Top && backgroundKey001Bottom >= nowScroll) {

            const purple1 = document.querySelector('.img-purple1');
            const purple2 = document.querySelector('.img-purple2');

            let len = backgroundKey001Bottom - backgroundKey001Top;

            let matrixNum = (nowScroll - backgroundBlueTop) / len;
            purple1.style.transform = `matrix(1, 0, 0, 1, 0, ${matrixNum * 150 - 10})`;
            purple2.style.transform = `matrix(1, 0, 0, 1, 0, ${150 - matrixNum * 150 - 60})`;
            console.log(matrixNum, 150 - matrixNum * 10)
            if (matrixNum > 0.83) {

                document.querySelector('.backgroundWhite').style.opacity = '1';
            }
            else {
                document.querySelector('.backgroundWhite').style.opacity = '0';
            }
        }
    }

</script>
</html>