
    
</body><!---- end body ---->
<script src="/index.js"></script>

<footer>
    <footer id="ac-globalfooter" class="js flexbox">
        <section class="ac-gf-footer">
            <div class="ac-gf-footer-mini">
                <div class="ac-gf-footer-shop">
                    다양한 쇼핑 방법:
                    <a href="#">Apple Store를 방문</a>
                    하거나,
                    <a href="#">리셀러</a>
                    를 찾아보거나, 080-330-8877번으로 전화하세요.
                </div>
                
                <div class="ac-gf-footer-legal">
                    <div class="ac-gf-footer-legal-copyright">Copyright &copy; 2021 Apple Inc. 모든 권리 보유</div>
                    <div class="ac-gf-footer-legal-links">
                        <a class="ac-gf-footer-legal-link con" href="#">개인정보 처리방침</a>
                        <a class="ac-gf-footer-legal-link con" href="#">약관</a>
                        <a class="ac-gf-footer-legal-link con" href="#">판매 및 환불</a>
                        <a href="#" class="ac-gf-footer-legal-link con">법적 고지</a>
                        <a href="#" class="ac-gf-footer-legal-link">사이트 맵</a>
                        
                        <a class="ac-gf-footer-locale-link choose" href="#">대한민국</a>
                    </div>
                </div>
            </div> 
        </section>
    </footer>
</footer>
<script type = "text/javascript">


window.addEventListener('scroll',function(){
        var nowScroll = document.documentElement.scrollTop
        
     
        if(nowScroll >=12800 && nowScroll < 13000){
            document.querySelector('.background1').style.display = 'block'
            document.querySelector('.background2').style.display = 'none'
            document.querySelector('.background3').style.display = 'none'
            document.querySelector('.background4').style.display = 'none'
            document.querySelector('.background5').style.display = 'none'
            document.querySelector('.background6').style.display = 'none'
            
        }
        if(nowScroll >= 13000 && nowScroll < 13200){
            document.querySelector('.background2').style.display = 'block'
            document.querySelector('.background1').style.display = 'none'
            document.querySelector('.background3').style.display = 'none'
            document.querySelector('.background4').style.display = 'none'
            document.querySelector('.background5').style.display = 'none'
            document.querySelector('.background6').style.display = 'none'
        }
        if(nowScroll >= 13200 && nowScroll < 13400){
            document.querySelector('.background3').style.display = 'block'
            document.querySelector('.background1').style.display = 'none'
            document.querySelector('.background2').style.display = 'none'
            document.querySelector('.background4').style.display = 'none'
            document.querySelector('.background5').style.display = 'none'
            document.querySelector('.background6').style.display = 'none'
        }
        if(nowScroll >= 13400 && nowScroll < 13600){
            document.querySelector('.background4').style.display = 'block'
            document.querySelector('.background1').style.display = 'none'
            document.querySelector('.background2').style.display = 'none'
            document.querySelector('.background3').style.display = 'none'
            document.querySelector('.background5').style.display = 'none'
            document.querySelector('.background6').style.display = 'none'
        }
        if(nowScroll >= 13600 && nowScroll < 13800){
            document.querySelector('.background5').style.display = 'block'
            document.querySelector('.background1').style.display = 'none'
            document.querySelector('.background2').style.display = 'none'
            document.querySelector('.background3').style.display = 'none'
            document.querySelector('.background4').style.display = 'none'
            document.querySelector('.background6').style.display = 'none'
        }
        if(nowScroll >= 13800 && nowScroll < 14000){
            document.querySelector('.background6').style.display = 'block'
            document.querySelector('.background1').style.display = 'none'
            document.querySelector('.background2').style.display = 'none'
            document.querySelector('.background3').style.display = 'none'
            document.querySelector('.background4').style.display = 'none'
            document.querySelector('.background5').style.display = 'none'
        }


        if(nowScroll >= 15800 && nowScroll < 16200){
            document.querySelector('.background7').style.display = 'block'
            document.querySelector('.background8').style.display = 'none'
            document.querySelector('.background9').style.display = 'none'
        }
        if(nowScroll >= 16200 && nowScroll < 16600){
            document.querySelector('.background8').style.display = 'block'
            document.querySelector('.background7').style.display = 'none'
            document.querySelector('.background9').style.display = 'none'
        }
        if(nowScroll >= 16600 && nowScroll < 17000){
            document.querySelector('.background9').style.display = 'block'
            document.querySelector('.background8').style.display = 'none'
            document.querySelector('.background7').style.display = 'none'
        }


        if(nowScroll >= 18200 && nowScroll < 18400){
            document.querySelector('.background10').style.display = 'block'
            document.querySelector('.background11').style.display = 'none'
            document.querySelector('.background12').style.display = 'none'
            document.querySelector('.background13').style.display = 'none'
            document.querySelector('.background14').style.display = 'none'
            document.querySelector('.background15').style.display = 'none'
            document.querySelector('.background16').style.display = 'none'
            document.querySelector('.background17').style.display = 'none'
            document.querySelector('.background18').style.display = 'none'
        }
        if(nowScroll >= 18400 && nowScroll < 18600){
            document.querySelector('.background11').style.display = 'block'
            document.querySelector('.background10').style.display = 'none'
            document.querySelector('.background12').style.display = 'none'
            document.querySelector('.background13').style.display = 'none'
            document.querySelector('.background14').style.display = 'none'
            document.querySelector('.background15').style.display = 'none'
            document.querySelector('.background16').style.display = 'none'
            document.querySelector('.background17').style.display = 'none'
            document.querySelector('.background18').style.display = 'none'
        }
        if(nowScroll >= 18600 && nowScroll < 18800){
            document.querySelector('.background12').style.display = 'block'
            document.querySelector('.background10').style.display = 'none'
            document.querySelector('.background11').style.display = 'none'
            document.querySelector('.background13').style.display = 'none'
            document.querySelector('.background14').style.display = 'none'
            document.querySelector('.background15').style.display = 'none'
            document.querySelector('.background16').style.display = 'none'
            document.querySelector('.background17').style.display = 'none'
            document.querySelector('.background18').style.display = 'none'
        }
        if(nowScroll >= 18800 && nowScroll < 19000){
            document.querySelector('.background13').style.display = 'block'
            document.querySelector('.background10').style.display = 'none'
            document.querySelector('.background12').style.display = 'none'
            document.querySelector('.background11').style.display = 'none'
            document.querySelector('.background14').style.display = 'none'
            document.querySelector('.background15').style.display = 'none'
            document.querySelector('.background16').style.display = 'none'
            document.querySelector('.background17').style.display = 'none'
            document.querySelector('.background18').style.display = 'none'
        }
        if(nowScroll >= 19000 && nowScroll < 19200){
            document.querySelector('.background14').style.display = 'block'
            document.querySelector('.background10').style.display = 'none'
            document.querySelector('.background11').style.display = 'none'
            document.querySelector('.background12').style.display = 'none'
            document.querySelector('.background13').style.display = 'none'
            document.querySelector('.background15').style.display = 'none'
            document.querySelector('.background16').style.display = 'none'
            document.querySelector('.background17').style.display = 'none'
            document.querySelector('.background18').style.display = 'none'
        }
        if(nowScroll >= 19200 && nowScroll < 19400){
            document.querySelector('.background15').style.display = 'block'
            document.querySelector('.background10').style.display = 'none'
            document.querySelector('.background12').style.display = 'none'
            document.querySelector('.background13').style.display = 'none'
            document.querySelector('.background11').style.display = 'none'
            document.querySelector('.background14').style.display = 'none'
            document.querySelector('.background16').style.display = 'none'
            document.querySelector('.background17').style.display = 'none'
            document.querySelector('.background18').style.display = 'none'
        }
        if(nowScroll >= 19400 && nowScroll < 19600){
            document.querySelector('.background16').style.display = 'block'
            document.querySelector('.background10').style.display = 'none'
            document.querySelector('.background11').style.display = 'none'
            document.querySelector('.background12').style.display = 'none'
            document.querySelector('.background14').style.display = 'none'
            document.querySelector('.background13').style.display = 'none'
            document.querySelector('.background15').style.display = 'none'
            document.querySelector('.background17').style.display = 'none'
            document.querySelector('.background18').style.display = 'none'
        }
        if(nowScroll >= 19600 && nowScroll < 19800){
            document.querySelector('.background17').style.display = 'block'
            document.querySelector('.background10').style.display = 'none'
            document.querySelector('.background11').style.display = 'none'
            document.querySelector('.background12').style.display = 'none'
            document.querySelector('.background14').style.display = 'none'
            document.querySelector('.background15').style.display = 'none'
            document.querySelector('.background13').style.display = 'none'
            document.querySelector('.background16').style.display = 'none'
            document.querySelector('.background18').style.display = 'none'
        }
        if(nowScroll >= 19800 && nowScroll < 20000){
            document.querySelector('.background18').style.display = 'block'
            document.querySelector('.background10').style.display = 'none'
            document.querySelector('.background12').style.display = 'none'
            document.querySelector('.background13').style.display = 'none'
            document.querySelector('.background11').style.display = 'none'
            document.querySelector('.background15').style.display = 'none'
            document.querySelector('.background16').style.display = 'none'
            document.querySelector('.background14').style.display = 'none'
            document.querySelector('.background17').style.display = 'none'
        }


        if(nowScroll >= 23000 && nowScroll < 23300){
            document.querySelector('.background20').style.display = 'block'
            document.querySelector('.background21').style.display = 'none'
            document.querySelector('.background22').style.display = 'none'
        }
        if(nowScroll >= 23300 && nowScroll < 23600){
            document.querySelector('.background21').style.display = 'block'
            document.querySelector('.background20').style.display = 'none'
            document.querySelector('.background22').style.display = 'none'
        }
        if(nowScroll >= 23600 && nowScroll < 23900){
            document.querySelector('.background22').style.display = 'block'
            document.querySelector('.background20').style.display = 'none'
            document.querySelector('.background21').style.display = 'none'
        }

        if(nowScroll >= 24900 && nowScroll < 25100){
            document.querySelector('.background23').style.display = 'block'
            document.querySelector('.background24').style.display = 'none'
            document.querySelector('.background25').style.display = 'none'
            document.querySelector('.background26').style.display = 'none'
            document.querySelector('.background27').style.display = 'none'
            document.querySelector('.background28').style.display = 'none'
            document.querySelector('.background29').style.display = 'none'
            document.querySelector('.background30').style.display = 'none'
            document.querySelector('.background31').style.display = 'none'
            document.querySelector('.background32').style.display = 'none'
            document.querySelector('.background33').style.display = 'none'
        }
        if(nowScroll >= 25100 && nowScroll < 25300){
            document.querySelector('.background24').style.display = 'block'
            document.querySelector('.background23').style.display = 'none'
            document.querySelector('.background25').style.display = 'none'
            document.querySelector('.background26').style.display = 'none'
            document.querySelector('.background27').style.display = 'none'
            document.querySelector('.background28').style.display = 'none'
            document.querySelector('.background29').style.display = 'none'
            document.querySelector('.background30').style.display = 'none'
            document.querySelector('.background31').style.display = 'none'
            document.querySelector('.background32').style.display = 'none'
            document.querySelector('.background33').style.display = 'none'
        }
        if(nowScroll >= 25300 && nowScroll < 25500){
            document.querySelector('.background25').style.display = 'block'
            document.querySelector('.background23').style.display = 'none'
            document.querySelector('.background24').style.display = 'none'
            document.querySelector('.background26').style.display = 'none'
            document.querySelector('.background27').style.display = 'none'
            document.querySelector('.background28').style.display = 'none'
            document.querySelector('.background29').style.display = 'none'
            document.querySelector('.background30').style.display = 'none'
            document.querySelector('.background31').style.display = 'none'
            document.querySelector('.background32').style.display = 'none'
            document.querySelector('.background33').style.display = 'none'
        }
        if(nowScroll >= 25500 && nowScroll < 25700){
            document.querySelector('.background26').style.display = 'block'
            document.querySelector('.background24').style.display = 'none'
            document.querySelector('.background23').style.display = 'none'
            document.querySelector('.background25').style.display = 'none'
            document.querySelector('.background27').style.display = 'none'
            document.querySelector('.background28').style.display = 'none'
            document.querySelector('.background29').style.display = 'none'
            document.querySelector('.background30').style.display = 'none'
            document.querySelector('.background31').style.display = 'none'
            document.querySelector('.background32').style.display = 'none'
            document.querySelector('.background33').style.display = 'none'
        }
        if(nowScroll >= 25700 && nowScroll < 25900){
            document.querySelector('.background27').style.display = 'block'
            document.querySelector('.background23').style.display = 'none'
            document.querySelector('.background25').style.display = 'none'
            document.querySelector('.background26').style.display = 'none'
            document.querySelector('.background24').style.display = 'none'
            document.querySelector('.background28').style.display = 'none'
            document.querySelector('.background29').style.display = 'none'
            document.querySelector('.background30').style.display = 'none'
            document.querySelector('.background31').style.display = 'none'
            document.querySelector('.background32').style.display = 'none'
            document.querySelector('.background33').style.display = 'none'
        }
        if(nowScroll >= 25900 && nowScroll < 26100){
            document.querySelector('.background28').style.display = 'block'
            document.querySelector('.background23').style.display = 'none'
            document.querySelector('.background24').style.display = 'none'
            document.querySelector('.background26').style.display = 'none'
            document.querySelector('.background27').style.display = 'none'
            document.querySelector('.background25').style.display = 'none'
            document.querySelector('.background29').style.display = 'none'
            document.querySelector('.background30').style.display = 'none'
            document.querySelector('.background31').style.display = 'none'
            document.querySelector('.background32').style.display = 'none'
            document.querySelector('.background33').style.display = 'none'
        }
        if(nowScroll >= 26100 && nowScroll < 26300){
            document.querySelector('.background29').style.display = 'block'
            document.querySelector('.background24').style.display = 'none'
            document.querySelector('.background23').style.display = 'none'
            document.querySelector('.background25').style.display = 'none'
            document.querySelector('.background27').style.display = 'none'
            document.querySelector('.background28').style.display = 'none'
            document.querySelector('.background26').style.display = 'none'
            document.querySelector('.background30').style.display = 'none'
            document.querySelector('.background31').style.display = 'none'
            document.querySelector('.background32').style.display = 'none'
            document.querySelector('.background33').style.display = 'none'
        }
        if(nowScroll >= 26300 && nowScroll < 26500){
            document.querySelector('.background30').style.display = 'block'
            document.querySelector('.background23').style.display = 'none'
            document.querySelector('.background25').style.display = 'none'
            document.querySelector('.background26').style.display = 'none'
            document.querySelector('.background24').style.display = 'none'
            document.querySelector('.background28').style.display = 'none'
            document.querySelector('.background29').style.display = 'none'
            document.querySelector('.background27').style.display = 'none'
            document.querySelector('.background31').style.display = 'none'
            document.querySelector('.background32').style.display = 'none'
            document.querySelector('.background33').style.display = 'none'
        }
        if(nowScroll >= 26500 && nowScroll < 26700){
            document.querySelector('.background31').style.display = 'block'
            document.querySelector('.background23').style.display = 'none'
            document.querySelector('.background24').style.display = 'none'
            document.querySelector('.background26').style.display = 'none'
            document.querySelector('.background27').style.display = 'none'
            document.querySelector('.background25').style.display = 'none'
            document.querySelector('.background29').style.display = 'none'
            document.querySelector('.background30').style.display = 'none'
            document.querySelector('.background28').style.display = 'none'
            document.querySelector('.background32').style.display = 'none'
            document.querySelector('.background33').style.display = 'none'
        }
        if(nowScroll >= 26700 && nowScroll < 26900){
            document.querySelector('.background31').style.display = 'block'
            document.querySelector('.background23').style.display = 'none'
            document.querySelector('.background24').style.display = 'none'
            document.querySelector('.background26').style.display = 'none'
            document.querySelector('.background27').style.display = 'none'
            document.querySelector('.background25').style.display = 'none'
            document.querySelector('.background29').style.display = 'none'
            document.querySelector('.background30').style.display = 'none'
            document.querySelector('.background28').style.display = 'none'
            document.querySelector('.background32').style.display = 'none'
            document.querySelector('.background33').style.display = 'none'
        }
        if(nowScroll >= 26900 && nowScroll < 27100){
            document.querySelector('.background32').style.display = 'block'
            document.querySelector('.background23').style.display = 'none'
            document.querySelector('.background24').style.display = 'none'
            document.querySelector('.background26').style.display = 'none'
            document.querySelector('.background27').style.display = 'none'
            document.querySelector('.background25').style.display = 'none'
            document.querySelector('.background29').style.display = 'none'
            document.querySelector('.background30').style.display = 'none'
            document.querySelector('.background28').style.display = 'none'
            document.querySelector('.background31').style.display = 'none'
            document.querySelector('.background33').style.display = 'none'
        }
        if(nowScroll >= 27100 && nowScroll < 27300){
            document.querySelector('.background33').style.display = 'block'
            document.querySelector('.background23').style.display = 'none'
            document.querySelector('.background24').style.display = 'none'
            document.querySelector('.background26').style.display = 'none'
            document.querySelector('.background27').style.display = 'none'
            document.querySelector('.background25').style.display = 'none'
            document.querySelector('.background29').style.display = 'none'
            document.querySelector('.background30').style.display = 'none'
            document.querySelector('.background28').style.display = 'none'
            document.querySelector('.background32').style.display = 'none'
            document.querySelector('.background31').style.display = 'none'
        }


    })
    </script>
</html>