<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="chatRoom">
        <div id="chat">
            <div>
                <span class="you">안녕하세요! 무엇을 도와드릴까요? :) </span>
            </div>
            <div>
                <span class="me"></span>
            </div>

        </div>
        <div id="chatInputArea">
            <input type="text" id="msg">
            <button id="chatSend">전송</button>
        </div>
        <script type="text/javascript" src="/chat.js"></script>
    </div>
</body>
</html>