<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="chatRoom">
        <div id="chat">
            <div>
                <li id="time"></li>
                <li>Apple님과 연결되었습니다.</li>
            </div>
            <ul>
                <li class="you">Apple에 오신 것을 환영합니다.<br/>무엇을 도와 드릴까요?</span> </span>
            </ul>

        </div>
        <div id="chatInputArea">
            <input type="text" id="msg">
            <button id="chatSend"  onclick="send()">보내기</button>
        </div>
    </div>
    <script type="text/javascript">
        alert('d'); 
    </script>
</body>
</html>