<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="/users/chat.css">
    <title>Document</title>
</head>
<body>
    <div id = "wrap">
        <div id = "chatHelp_top">
            <h1>어떤 도움이 필요하신가요?</h1>
        </div>
        <a href="/user/chatBtn" id ="chatHelp_box1" class="chatHelp_box">
            <div>
            </div>
            <div>
                <h3>
                    온라인으로 채팅을 통해 문의해주십시오.
                </h3>
                <p>
                    저희가 웹을 통해 편리하게 도와드리겠습니다.
                </p>
            </a>
        </div>
        <a href="#" id ="chatHelp_box2" class="chatHelp_box">
            <div>
            </div>
            <div>
                <h3>
                    전화로 문의해 주십시오.
                </h3>
                <p>
                    월요일~금요일 오전 9시에서 오후 9시, 토요일~일요일 오전 10시에서 오후 9시 사이에 080-330-8877번으로 전화해 주십시오.
                </p>
            </div>
        </a>
    </div>
   
</body>
</html>