<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/user/chat.css">
</head>

<body>
    <div id="wrap">
        <div id="chat_pic">
            <img src ="/users/chat_pic.png" height=250 width=410>
        </div>
        <div id="help">
            <h1>도움이 필요하신가요?</h1>
        </div>
        <div id="chatTop">
            <div>
                <h3>가지고 있는 제품에 대한 지원이 필요합니다. </h3>
            </div>
            <div>
                <p>갖고 계신 Apple 제품 또는 이용 중인 Apple 서비스와 관련하여 도움이 필요하신가요?</p>
            </div>
            <a href="#">Apple 지원 방문하기</a>
        </div>
        <div id="chatMiddle">
            <div>
                <h3>주문 관련 도움이 필요합니다. </h3>
            </div>
            <div>
                <p>주문 처리 상태를 확인하거나 주문을 변경하고 싶으신가요?</p>
            </div>
            <a href="#">주문 찾기</a>
        </div>

        <div id="chatBottom">
            <div>
                <h3>제품 구입에 대한 도움이 필요합니다.</h3>
            </div>
            <div>
                <p>Apple 제품에 관한 자세한 정보나 제품 구입과 관련한 도움이 필요하신가요?</p>
            </div>
            <a href="/user/chatHelp">스페셜리스트에게 문의</button>
        </div>
        <div id="footer">

        </div>
    </div>


    <script type="text/javascript" src="/chat.js"></script>
</body>

</html>