{% include "./top.html" %}
<div class="ac-ln-viewport-emitter"></div>
<div id="ac-ln-sticky-placeholder" class="css-sticky"></div>
<nav id="ac-localnav" class="ac-localnav-scrim js no-touch css-sticky subnav" data-analytics-region="localnav">
    <div class="ac-ln-wrapper">
        <div class="ac-ln-background"></div>
        <div class="ac-ln-content">
            <div class="ac-ln-title">
                <a href="#">iPhone&nbsp;12</a>
            </div>
            <div class="ac-ln-menu">
                <div class="ac-ln-menu-tray">
                    <ul class="ac-ln-menu-items">
                        <li class="ac-ln-menu-item">
                            <span class="ac-ln-menu-link current">개요</span>
                        </li>
                        <li class="ac-ln-menu-item">
                            <a href="#" class="ac-ln-menu-link">제품 사양</a>
                        </li>
                    </ul>
                </div>
                <div class="ac-ln-actions">
                    <div class="ac-ln-action ac-ln-action-button">
                        <a href="#" class="ac-ln-button">
                            <span class="ac-ln-action-product">iPhone 12</span>
                            구입하기
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

<label for="ac-ln-menustate" class="ac-ln-curtain"></label>
<div class="ac-ln-viewport-emitter"></div>

<main id="main" class="main" role="main">
    <section class="section section-hero section-fill-light-alt" style="--hero-top-offset:70.6px">
        <div class="sticky-wrapper">
            <div class="sticky-content">
                <div class="hero-sequence-centered">
                    <div class="hero-sequence-wrapper">
                        <div class="video-container show">
                            <figure class="startframe"></figure>
                            <video muted playsinline data-load-time="5000" preload="none"
                                src="https://www.apple.com/105/media/ww/iphone-12/2020/7f5b7de7-9f8c-41eb-bf3b-f294773108e6/anim/hero-purple/5g/large.mp4"
                                draggable="true" autoplay></video>
                            <figure class="endframe hidden"></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-copy-container">
            <div class="hero-copy large-9 large-centered medium-8 samll-12 small-uncentered">
                <h1 class="hero-eyebrow-text typography-hero-eyebrow"
                    style="transform: matrix(1, 0, 0, 1, 0, 0); opacity:1;">iPhone&nbsp;12 및 iPhone&nbsp;12&nbsp;mini
                </h1>
                <h2 class="hero-headline typography-hero-headline"
                    style="transform: matrix(1, 0, 0, 1, 0, 0); opacity:1;">
                    스피드 그 이상의 스피드.
                </h2>
                <p class="hero-intro typography-hero-intro" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity:1;">
                    <lkslighter
                        style="background-image: linear-gradient(transparendt 0%, transparent calc(50% - 4px), rgb(204, 242, 241) clac(50%-4px) rgb(204,242,241) 100%);
                    transition: background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s; background-size: 100% 200%; background-position: initial;">
                        5G 스피드. 스마트폰 사상 가장 빠른 A14&nbsp;Bionic 칩.</lkslighter>
                    <br class="large">
                    <lkslighter
                        style="background-image: linear-gradient(transparendt 0%, transparent calc(50% - 4px), rgb(204, 242, 241) clac(50%-4px) rgb(204,242,241) 100%);
                    transition: background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s; background-size: 100% 200%; background-position: initial;">
                        전면&nbsp;화면 OLED 디스플레이. 4배 나은 낙하 성능을 선사하는 Ceramic Shield. 그리고 모든 카메라에서 지원되는 '야간 모드' 까지.
                    </lkslighter>
                    <br class="large">
                    <lkslighter
                        style="background-image: linear-gradient(transparendt 0%, transparent calc(50% - 4px), rgb(204, 242, 241) clac(50%-4px) rgb(204,242,241) 100%);
                    transition: background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s; background-size: 100% 200%; background-position: initial;">
                        이 모든 것을 담은 iPhone&nbsp;12, 두&nbsp;가지 완벽한 사이즈로 만날&nbsp;수&nbsp;있습니다</lkslighter>.

                </p>
                <p class="hero-pricing typography-hero-copy samll-width small-width-pricing">
                    <span>₩950,000부터</span>
                    (보상판매
                    <sup class="footnote footnote-number">
                        <a href="#">1</a>
                    </sup>
                    미적용 가격)
                </p>
                <ul class="hero-cta typograpy-hero-copy links-inline film-copy">
                    <li>
                        <a href="/105/media/kr/iphone-12/2020/7f5b7de7-9f8c-41eb-bf3b-f294773108e6/films/product/iphone-12-product-tpl-kr-2020_16x9.m3u8"
                            id="film-iphone12" class="icon-wrapper" data-films-modal-link="" role="button"
                            aria-label="iPhone 12에 관한 동영상 보기" data-analytics-id="film-iphone12">
                            <span class="icon-copy">
                                동영상 보기
                            </span>
                            <span class="icon icon-after icon icon-playcircle">

                            </span>
                        </a>
                    </li>
                </ul>
                <div class="hero-cta hero-cta-quicklook quicklook-component"
                    style="transform: matrix(1, 0, 0, 1, 0, 0); opacity:1;">

                </div>
            </div>
        </div>
    </section>

    <section class="section section-design section-fill-light-alt">
        <div class="sizes sizes-scroll-height lift-transition-container kuft-transition=reveal disabled">
            <div class="lift-transition-sticky-content">
                <h2 class="visuallyhidden">디자인</h2>
                <div class="section-hands">
                    <div class="compare">
                        <div class="section-design section-design-iphone-12 enhance-xp">
                            <div class="design-content">
                                <div class="row">
                                    <div class="flow-grid">
                                        <div class="grid-spacer">
                                            <div class="section-content">
                                                <div class="row compare-headline-small">
                                                    <div class="headline-wrapper-small">
                                                        <div class="row justify-content-center">
                                                            <div></div>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <h3
                                                                class="compare-headline compare-headline-iphone-12 typograpy-section-headline justify-content-center">
                                                                빅 뉴스.</h3>
                                                        </div>
                                                        <div class="row justify-content-center">
                                                            <h3
                                                                class="compare-headline compare-headline-iphone-12 typograpy-section-headline justify-content-center">
                                                                미니 뉴스.</h3>
                                                        </div>
                                                    </div>
                                                    <div class="detail-row justify-content-center">
                                                        <div class="details-width-container">
                                                            <div class="column row justify-content-center">
                                                                <div class="details-wrapper details-wrapper-iphone-12"
                                                                    style="transform: matrix(1, 0, 0, 1, 0, 30); opacity: 0; user-select: auto;">
                                                                    <h4 class="visuallyhidden">iPhone&nbsp;12</h4>
                                                                    <p class="compare-display-size">6.1형</p>
                                                                    <div class="visuallyhidden">
                                                                        <div>
                                                                            <span class="visuallyhidden">iPhone
                                                                                11보다</span>11
                                                                            <sup>%</sup>
                                                                        </div>
                                                                        <div>얇아진 두께</div>
                                                                        <div>
                                                                            <span class="visuallyhidden">iPhone
                                                                                11보다</span>15
                                                                            <sup>%</sup>
                                                                        </div>
                                                                        <div>작아진 크기</div>
                                                                        <div>
                                                                            <span class="visuallyhidden">iPhone
                                                                                11보다</span>16
                                                                            <sup>%</sup>
                                                                        </div>
                                                                        <div>가벼워진 무게</div>
                                                                    </div>
                                                                    <p
                                                                        class="compare-display-features typography-compare-headline">
                                                                        Super Retina XDR&nbsp;디스플레이
                                                                        <sup class="footnote footnote-number">
                                                                            <a href="#">2</a>
                                                                        </sup>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="column row justify-content-center">
                                                                <div class="details-wrapper details-wrapper-iphone-12-mini"
                                                                    style="transform: matrix(1, 0, 0, 1, 0, 30); opacity: 0; user-select: auto;">
                                                                    <h4 class="visuallyhidden">iPhone&nbsp;12&nbsp;mini
                                                                    </h4>
                                                                    <p
                                                                        class="compare-display-size typography-section-headline">
                                                                        5.4형</p>
                                                                    <p
                                                                        class="compare-display-features typograpy-compare-headline">
                                                                        Super Retina XDR 디스플레이
                                                                        <sup class="footnote footnote-number">
                                                                            <a href="#">2</a>
                                                                        </sup>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flow-wrapper justify-content-center will-change-transform"
                                            style="transform: matrix(1, 0, 0, 1, 0, 0); user-select: auto;">
                                            <div class="row flow-width-adjustment">
                                                <div class="column column-iphone-12">
                                                    <div class="content-wrapper content-iphone-12">
                                                        <div
                                                            class="column row callout small-ofset-2 will-change-transform-opacity">
                                                            <div class="headline-wrapper" tabindex="-1"
                                                                style="transform: matrix(1, 0, 0, 1, 0, -31.7666); opacity: 0.364669; user-select: auto;">
                                                                <h3 class="compare-headline typograpy-section-headline">
                                                                    빅 뉴스.</h3>
                                                            </div>
                                                            <div class="details-wrapper" tabindex="-1"
                                                                style="transform: matrix(1, 0, 0, 1, 0, 30); opacity: 0; user-select: auto;">
                                                                <h4 class="visyallyhidden">iPhone&nbsp;12</h4>
                                                                <p
                                                                    class="compare-display-size typography-section-headline">
                                                                    6.1형</p>
                                                                <div class="visuallyhidden">
                                                                    <div>
                                                                        <span class="visuallyhidden">iPhon 11보다</span>
                                                                        11
                                                                        <sup>%</sup>
                                                                    </div>
                                                                    <div>얇아진 두께</div>
                                                                    <div>
                                                                        <span class="visuallyhidden">iPhon 11보다</span>
                                                                        15
                                                                        <sup>%</sup>
                                                                    </div>
                                                                    <div>작아진 크기</div>
                                                                    <div>
                                                                        <span class="visuallyhidden">iPhon 11보다</span>
                                                                        16
                                                                        <sup>%</sup>
                                                                    </div>
                                                                    <div>가벼워진 무게</div>
                                                                </div>
                                                                <p
                                                                    class="compare-display-features typography-compare-headline">
                                                                    Super&nbsp;Retina XDR&nbsp;디스플레이
                                                                    <sup class="footnote footnote-number">
                                                                        <a href="#">2</a>
                                                                    </sup>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column device-wrapper justify-content-center"
                                                        style="transform: matrix(1, 0, 0, 1, 0, 0); user-select: auto;">
                                                        <canvas id="flow-canvas-iphone-12" width="576" height="792">

                                                            <div
                                                                class="column row badge-wrapper align-items-center justify-content-end">
                                                                <div class="badges will-change-transform-opacity"
                                                                    style="transform: matrix(1, 0, 0, 1, 0, -145); opacity: 0;">
                                                                    <h4 class="visuallyhidden">iPhone&nbsp;12</h4>
                                                                    <div class="badge"
                                                                        style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                                                                        <span
                                                                            class="badge-value typography-badge-value">
                                                                            <span class="visuallyhidden">iPhone 11
                                                                                보다</span>
                                                                            11
                                                                            <sup>%</sup>
                                                                        </span>
                                                                        <span
                                                                            class="badge-value typography-badge-caption">얇아진
                                                                            두께</span>
                                                                    </div>
                                                                    <div class="badge"
                                                                        style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                                                                        <span
                                                                            class="badge-value typography-badge-value">
                                                                            <span class="visuallyhidden">iPhone 11
                                                                                보다</span>
                                                                            15
                                                                            <sup>%</sup>
                                                                        </span>
                                                                        <span
                                                                            class="badge-value typography-badge-caption">작아진
                                                                            크기</span>
                                                                    </div>
                                                                    <div class="badge"
                                                                        style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                                                                        <span
                                                                            class="badge-value typography-badge-value">
                                                                            <span class="visuallyhidden">iPhone 11
                                                                                보다</span>
                                                                            16
                                                                            <sup>%</sup>
                                                                        </span>
                                                                        <span
                                                                            class="badge-value typography-badge-caption">가벼워진
                                                                            무게</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <div style="clear: both;"></div>
                                                    <div class="canvas-hidden">
                                                        <ul class="hidden-ul">
                                                            <li>Hello world!</li>
                                                            <li>안녕, 세계!</li>
                                                            <li>Bonjour le monde!</li>
                                                            <li>你好，世界</li>
                                                            <li>こんにちは世界</li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-hands base-xp">
                            <div class="section-design section-design-iphone-12">
                                <div class="section-content">
                                    <div class="row content-wrapper justify-content-center">
                                        <h3 class="compare-headline typography-section-headline">빅 뉴스.</h3>
                                    </div>
                                    <div class="row col-image-wrapper justify-content-center">
                                        <figure class="image-design-iphone-12"></figure>
                                    </div>
                                    <div class="row badge-wrapper align-items-center">
                                        <div class="column large-3 large-offset-9 medium-offset-10">
                                            <h4 class="visuallyhidden">iPhone&nbsp;12</h4>
                                            <div class="badge" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                                                <span class="badge-value typography-badge-value">
                                                    <span class="visuallyhidden">iPhone 11 보다</span>
                                                    11
                                                    <sup>%</sup>
                                                </span>
                                                <span class="badge-value typography-badge-caption">얇아진 두께</span>
                                            </div>
                                            <div class="badge" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                                                <span class="badge-value typography-badge-value">
                                                    <span class="visuallyhidden">iPhone 11 보다</span>
                                                    15
                                                    <sup>%</sup>
                                                </span>
                                                <span class="badge-value typography-badge-caption">작아진 크기</span>
                                            </div>
                                            <div class="badge" style="transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;">
                                                <span class="badge-value typography-badge-value">
                                                    <span class="visuallyhidden">iPhone 11 보다</span>
                                                    16
                                                    <sup>%</sup>
                                                </span>
                                                <span class="badge-value typography-badge-caption">가벼워진 무게</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section-design section-design-iphone-12-compare">
                                <div class="section-content base-container">
                                    <div class="row">
                                        <div class="section-wrapper">
                                            <div class="column large-6">
                                                <div class="row content-wrapper content-iphone-12">
                                                    <div
                                                        class="column row medium-10 medium-offset-1 small-12 small-offset-0">
                                                        <div class="details-wrapper"
                                                            style="transform: matrix(1, 0, 0, 1, 0, 30); opacity: 0;">
                                                            <h4 class="visaullyhidden">iPhone&nbsp;12</h4>
                                                            <p class="compare-display-size typography-compare-headline">
                                                                Super Retina XDR 디스플레이
                                                                <sup class="footnote footnote-number">
                                                                    <a href="#">2</a>
                                                                </sup>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row col-image-wrapper-iphone-12">
                                                    <figure class="image-compare-iphone-12"></figure>
                                                </div>
                                            </div>
                                            <div class="column large-6">
                                                <div class="row content-wrapper content-iphone-12-mini">
                                                    <div
                                                        class="column row large-10 medium-12 medium-offset-1 small-offset-0">
                                                        <div class="details-wrapper"
                                                            style="transform: matrix(1, 0, 0, 1, 0, 30); opacity: 0;">
                                                            <h4 class="visuallyhidden">iPhone&nbsp;12&nbsp;mini</h4>
                                                            <p class="compare-display-size typography-section-headline">
                                                                5.4형</p>
                                                            <p
                                                                class="compare-display-features typograpy-compare-headline">
                                                                Super Retina XDR 디스플레이
                                                                <sup class="footnote footnote-number">
                                                                    <a href="#">2</a>
                                                                </sup>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row col-image-wrapper-iphone-12-mini">
                                                <figure class="image-compare-iphone-12-mini"></figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-design-materials">
            <div class="mini-scroll-height lift-tansition-container lift-transition-reveal disabled">
                <div class="lift-transition-sticky-contetnt">
                    <div class="frame-container">
                        <div class="frame frame-h frame-bottom"></div>
                    </div>
                    <div class="design-materials-framing-container framing-group-conatainer">
                        <div class="frame-container">
                            <div class="frame-sticky-viewfinder">
                                <div class="frame frame-h frame-top" style="transform: matrix(1, 0, 0, 0, 0, 0);"></div>
                                <div class="frame frame-v frame-left" style="transform: matrix(0, 0, 0, 1, 0, 0);">
                                </div>
                                <div class="frame frame-v frame-right" style="transform: matrix(0, 0, 0, 1, 0, 0);">
                                </div>
                                <div class="frame frame-h frame-bottom" style="transform: matrix(1, 0, 0, 0, 0, 0);">
                                </div>
                            </div>
                        </div>
                        <div class="design-materials section-mini">
                            <div class="section-content">
                                <div class="column large-12 column-flex justify-content-centor">
                                    <div class="content-wrapper">
                                        <h4 class="section-headline typography-section-headline" >
                                            세상에서 가장&nbsp;작고,
                                            
                                            <br class="large">
                                            
                                            가장&nbsp;얇고, 가장&nbsp;가벼운
                                            
                                            5G&nbsp;폰.
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="column large-12 image-wrapper justify-content-center">
                                <figure class="image-mini" ></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="water-resistance section-fill-light-alt" data-anim-scroll-group="Design - Water"
            data-component-list="Water" data-analytics-section-engagement="name:water resistance"
            data-anim-lazy-image-sticky-anchor="">
            <div class="section-content">
                <div class="row">
                    <div class="copy-wrapper large-4 medium-offset-1 medium-3 small-offset-0 small-10 column"
                        style="transform: matrix(1, 0, 0, 1, 0, 135.5); opacity: 0;">
                        <h4 class="section-headline typography-section-headline">물도 물론 문제없지.</h4>
                        <div class="innovation-callout">
                            <div class="innovation-callout-keyline"
                                data-anim-keyframe="{&quot;anchors&quot;: [&quot;.innovation-callout&quot;],&quot;start&quot;: &quot;a0t - 135vh&quot;,&quot;end&quot;: &quot;a0t - 40vh&quot;,&quot;opacity&quot;: [&quot;0&quot;, &quot;1&quot;],&quot;scaleX&quot;: [&quot;0.5&quot;, &quot;1&quot;],&quot;easeFunction&quot;: &quot;easeInOutQuint&quot;,&quot;preserveState&quot;: &quot;false&quot;,&quot;disabledWhen&quot;: &quot;no-enhance-base-xp&quot;}"
                                style="transform: matrix(0.5, 0, 0, 1, 0, 0); opacity: 0;"></div>
                            <p class="innovation-callout-copy typography-innovation-callout">향상된 생활 방수 기능<sup
                                    class="footnote footnote-number"><a href="#footnote-4"
                                        aria-label="Footnote 4">4</a></sup></p>
                        </div>
                    </div>
                    <div class="hardware large-8 small-12 column">
                        <div class="image-hardware" style="transform: matrix(1, 0, 0, 1, 0, 140);"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "wrap" style= "height: 4700px;">
            <div class = "background1" style = "display: none; height:1200px;">
                <div class = "w1200">
                    <div class = "block1" style = "height:1100px;">
                        <div class = "blue">6가지 상큼한 마감</div>
                        <img style = "width:1200px; height:1000px;" src = "../Rolling_img1.jpg">
                    </div>           
                </div>                
            </div>
            <div class = "background2" style = "display: none; height:1200px;">
                <div class = "w1200">
                    <div class = "block2" style = "height:1100px;">
                        <div class = "green">6가지 상큼한 마감</div>
                        <img style = "width:1200px; height:1000px;" src = "../Rolling_img2.jpg">
                    </div>
                </div>
            </div>
            <div class = "background3" style = "display: none; height:1200px;">
                <div class = "w1200">
                    <div class = "block3" style = "height:1100px;">
                        <div class = "red">6가지 상큼한 마감</div>
                        <img style = "width:1200px; height:1000px;" src = "../Rolling_img3.jpg">
                    </div>
                </div>
            </div>
            <div class = "background4" style = "display: none; height:1200px;">
                <div class = "w1200">
                    <div class = "block4" style = "height:1100px;">
                        <div class = "orange">6가지 상큼한 마감</div>
                        <img style = "width:1200px; height:1000px;" src = "../Rolling_img4.jpg">
                    </div>
                </div>
            </div>
            <div class = "background5" style = "display: none; height:1200px;">
                <div class = "w1200">
                    <div class = "block5" style = "height:1100px;">
                        <div class = "black">6가지 상큼한 마감</div>
                        <img style = "width:1200px; height:1000px;" src = "../Rolling_img5.jpg">
                    </div>
                </div>
            </div>
            <div class = "background6" style = "display: none; height:1200px;">
                <div class = "w1200">
                    <div class = "block6" style = "height:1100px;">
                        <div class = "purple">6가지 상큼한 마감</div>
                        <img style = "width:1200px; height:1000px;" src = "../Rolling_img6.jpg">
                    </div>   
                </div>
            </div>         
        </div>
        <div class = "wrap2" style= "height: 3000px;">
            <div class = "background7" style = "display: none; height:1200px;">
                <div class = "w1300">
                    <div class = "" style = "height:1200px;">
                        <img style = "width:1500px; height:1200px;" src = "../rolling_img21.png">
                    </div>           
                </div>                
            </div>
            <div class = "background8" style = "display: none; height:1200px;">
                <div class = "w1300">
                    <div class = "" style = "height:1200px;">
                        <img style = "width:1500px; height:1200px;" src = "../rolling_img22.png">
                    </div>
                </div>
            </div>
            <div class = "background9" style = "display: none; height:1200px;">
                <div class = "w1300">
                    <div class = "" style = "height:1200px;">
                        <img style = "width:1500px; height:1200px;" src = "../rolling_img23.png">
                    </div>
                </div>
            </div>
        </div>
        <div class = "wrap2" style= "height: 4000px;">
            <div class = "background10" style = "display: none; height:1200px;">
                <div class = "w1300">
                    <div class = "" style = "height:1200px;">
                        <img style = "width:1760px; height:1200px;" src = "../roll3.png">
                    </div>           
                </div>                
            </div>
            <div class = "background11" style = "display: none; height:1200px;">
                <div class = "w1300">
                    <div class = "" style = "height:1200px;">
                        <img style = "width:1760px; height:1200px;" src = "../roll31.png">
                    </div>
                </div>
            </div>
            <div class = "background12" style = "display: none; height:1200px;">
                <div class = "w1300">
                    <div class = "" style = "height:1200px;">
                        <img style = "width:1760px; height:1200px;" src = "../roll32.png">
                    </div>
                </div>
            </div>
            <div class = "background13" style = "display: none; height:1200px;">
                <div class = "w1300">
                    <div class = "" style = "height:1200px;">
                        <img style = "width:1760px; height:1200px;" src = "../roll33.png">
                    </div>
                </div>
            </div>
            <div class = "background14" style = "display: none; height:1200px;">
                <div class = "w1300">
                    <div class = "" style = "height:1200px;">
                        <img style = "width:1760px; height:1200px;" src = "../roll34.png">
                    </div>
                </div>
            </div>
            <div class = "background15" style = "display: none; height:1200px;">
                <div class = "w1300">
                    <div class = "" style = "height:1200px;">
                        <img style = "width:1760px; height:1200px;" src = "../roll35.png">
                    </div>   
                </div>
            </div>    
            <div class = "background16" style = "display: none; height:1200px;">
                <div class = "w1300">
                    <div class = "" style = "height:1200px;">
                        <img style = "width:1760px; height:1200px;" src = "../roll36.png">
                    </div>
                </div>
            </div>
            <div class = "background17" style = "display: none; height:1200px;">
                <div class = "w1300">
                    <div class = "" style = "height:1200px;">
                        <img style = "width:1760px; height:1200px;" src = "../roll37.png">
                    </div>   
                </div>
            </div>  
            <div class = "background18" style = "display: none; height:1200px;">
                <div class = "w1300">
                    <div class = "" style = "height:1200px;">
                        <img style = "width:1760px; height:1200px;" src = "../roll38.png">
                    </div>   
                </div>
            </div>      
        </div>
        <div class = "wrap3" style= "height: 3000px;">
            <div class = "background20" style = "display: none; height:1200px;">
                <div class = "w1300" style = "margin-top:300px;">
                    <div class = "" style = "display: inline-block; float:left; margin-left: 80px; width:700px; font-size: 50px; padding:100px; box-sizing: border-box;">
                        아름답게 <br/> 착착
                    </div>
                    <div class = "" style = "height:600px;">
                        <img style = "width:270px; height:600px;" src = "../roll42.png">
                    </div>
                </div>
            </div>
            <div class = "background21" style = "display: none; height:1200px;">
                <div class = "w1300" style = "margin-top:300px;">
                    <div class = "" style = "display: inline-block; float:left; margin-left: 80px; width:700px; padding:100px; box-sizing: border-box;">
                        <div style = "font-size: 50px;">
                            아름답게 <br/> 착착
                        </div>
                        <div style = "font-size: 23px;">
                            새로운 MagSafe 케이스 또는 카드지갑<br/> 아니면 둘 모두를 iPhone에 착<br/>  걱정 마세요. 카드지갑은 차폐성도<br/>  갖추고 있어 신용카드를<br/> 자성으로부터 안전하게<br/>  보호합니다
                        </div>
                    </div>
                    <div class = "" style = "height:600px;">
                        <video width = "300px" height = "600px" src = "../roll44.mp4" autoplay muted></video>
                    </div>
                </div>
            </div>
            <div class = "background22" style = "display: none; height:1200px;">
                <div class = "w1300" style = "margin-top:300px;">
                    <div class = "" style = "display: inline-block; float:left; margin-left: 80px; width:700px; font-size: 23px; padding:100px; box-sizing: border-box;">
                        새로운 MagSafe 케이스 또는 카드지갑<br/> 아니면 둘 모두를 iPhone에 착<br/>  걱정 마세요. 카드지갑은 차폐성도<br/>  갖추고 있어 신용카드를<br/> 자성으로부터 안전하게<br/>  보호합니다
                    </div>
                    <div class = "" style = "height:600px;">
                        <img style = "width:270px; height:600px;" src = "../roll43.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-5g section-fill-light-alt">
        <h2 class="visuallyhidden">iPhone의 5G</h2>
        <div class="wrapper-sticky short"></div>
        <div class="section-container-midium-small"></div>
        <div class="inline-modal-wrapper"></div>
    </section>

    <section class="section section-display section-fill-light">
        <div class="horizontal-scroll-height lift-transition-container">
            <div class="lift-transition-sticky-content">
                <div class="overflow-x-content flex-vert-center device-blue-fill">
                    <div class="section-content flex-vert-center justify-content-spacearound">
                        <div class="headline-container flex-vert-center">
                            <h2 class="visuallyhidden">디스플레이</h2>
                            <h3 class="section-headline typography-section-headline-elevated">
                                Super Retina
                                <span class="nowrap">XDR 디스플레이</span>
                            </h3>
                            <h3 class="section-subhead-typography-section-headline-elevated">
                                시선 집중 ODLE.
                            </h3>
                        </div>
                        <div class="hardware will-change-visible">
                            <div class="image-hardware"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="scroll-to-camera" class="section section-camera section-fill-light-alt">
        <h2 class="visuallyhidden">카메라</h2>
        <div class="wrapper-sticky hero">
            <div class="sticky">
                <div class="section-container">
                    <div class="section-content">
                        <div class="row">
                            <div class="wrapper-copy large-5 small-12 column">
                                <div class="container-copy will-change">
                                    <h3 class="section-headline typography-section-headline-elevated-alt-2">듀얼 카메라 시스템</h3>
                                    <h4 class="section-subhead typography-section-headline-elevated-alt-2 large-10 medium-12">어둠으로의 초대.</h4>
                                </div>
                            </div>
                            <div class="wrapper-image large-7 small-12 column">
                                <figure class="image-camera-array will-change"></figure>
                            </div>
                        </div>
                    </div>
                    <div class="color-management">
                        <div class="solid will-change"></div>
                        <div class="gradient will-change"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="camera-gallery">
            <div class="bg-wrapper theme-dark">
                <div class="section-content">
                    <div class="row">
                        <p class="section-intro typography-section-intro-elevated large-7 medium-10 small-12">
                            이제 와이드 카메라와 울트라 카메라 모두 야간모드를 지원합니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-video theme-dark">
        <div class="video-intro-scroll-height lift-transition-container lift-transition-reveal disabled">
            <div class="lift-transition-sticky-content">
                <div class="sticky-wrapper">
                    <div class="sticky-content">
                        <div class="video-intro-wrapper copy-block-vcenter will-change">
                            <div class="copy-block">
                                <h2 class="section-headline typography-section-headline-elevated-alt-2">
                                    동영상
                                </h2>
                                <h3 class="section-subjead video-intro-0 typography-section-headline-elevated-alt-2">
                                    어두워도.
                                </h3>
                                <h3 class="section-subhead video-intro-1 typography-section-headline-elevated-alt-2 hidden">레디.</h3>
                                <h3 class="section-subhead video-intro-2 typography-section-headline-elevated-alt-2 hidden">액션.</h3>
                            </div>
                        </div>
                        
                        <div class="video-manifesto-wrapper copy-block-vcenter will-change displayNone">
                    
                            <div class="copy-block">
                                <p class="section-intro typography-section-intro-elevated large-7 medium-10 small-12">
                                    스마트폰 사상 최고의 동영상 품질
                                </p>
                            </div>
                        </div>
                        <div class="device-wrapper will-change" style="min-height: 485px; min-width: 979px;">
                            <div class="device-shadow"></div>
                            <figure class="device-screen"></figure>
                            <span class="visuallyhidden video-description">4k 저조도</span>
                            <div class="video-container loaded will-change playing will-change" style="min-height: 244px; min-width: 432px;">
                                <figure class="startframe"></figure>
                                <video muted playsinline loop autoplay src="/main/image/large.mp4"></video>
                                <figure class="endframe"></figure>
                                <figure class="video-ui-frame will-change"></figure>
                            </div>
                            <figure class="device-ui will-change"></figure>
                            <figure class="device"></figure>
                        </div>
                        <!-- <div class="video-scrim will-change"></div>
                            <div class="subsection-wrapper section-content will-change">
                                <h4 class="subsection-headline typography-section-headline-alt large-8 large-offset-2 medium-7 small-12
                                small-offset-0 will-change">
                                영화 제작 스튜디오가
                                <br>
                                이미 당신 손안에
                                </h4>
                                <p class="subsection-intro typography-section-intro-reduced large-6 large-offset-2 medium-7
                                small-12 small-offset-2 medium-7 small-12 small-offset-0 will-change ">
                                이제 Dolby Vision 방식으로
                                </p>
                                <div class="innovation-callout large-4 large-offset-2 medium-5 small-12 small-offset-0">
                                    <div class="innovation-callout-keyline will-change">
                                    </div>
                                    <p class="innovation-callout-copy typography-innovation-callout will-change">
                                        Dolby Vision 방식
                                    </p>
                                    <p class="section-tout typography-section-tout will-change">

                                    </p>
                                    <div class="will-change">
                                        <div class="modal-button-wrapper static">
                                            <label class="modal-trigger-cta" for="modal-trigger-hdr-video">
                                                <span class="button button-modal typography-modal-button">
                                                    자세한 이야기
                                                </span>
                                            </label>
                                        </div>
                                        <div class="modal-button-wrapper enhanced">
                                            <div class="modal-trigger-cta">
                                                <button id="modal-hdr-video" class="button button-modal typography-modal-button">
                                                    자세한 이야기
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">

    </script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script src="/main/section1.js"></script>
    <script src="/main/sectionHands.js"></script>
    <script src="/main/sectionCamera.js"></script>
    <script src="/main/sectionDisplay.js"></script>
    <script src="/main/sectionVideo.js"></script>

    {% if msg %}
    <script type="text/javascript">
        alert("{{msg}}");
    </script>
    {% endif %}

    {% include "./mainOH.html" %}