{% include "./top.html" %}

<main class="main" role="main" data-anim-scroll-group="bubble-gum-group">
    <section class="homepage-section collection-module">
        <div data-unit-id="shop-online" data-analytics-activitymap-region-id="ribbon-shop-online">
            <div class="module-content">
                <div class="ribbon-shop-online">
                    <div class="section-content section-content-shop-online">
                        <span class="covid-ribbon-copy variant">
                            <a href="/kr/shop/goto/shop" target="_self" data-analytics-title="shop online - control">
                                온라인으로 쇼핑
                            </a>
                            하고 무료 배송, 스페셜리스트 지원 등의 혜택을 받으세요.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include "./bottom.html" %}