{% include "./top.html" %}




<!----  ---->

<div class="hero create">
        <div class="hero-image-wrapper">
            <div class="container hero-image-alignment">
                <h1 class="tk-section-headline mobile-only">Apple&nbsp;ID 생성</h1>
                <h1 class="tk-section-headline not-mobile" tabindex="-1">Apple&nbsp;ID 생성</h1>
            </div>
        </div>
    </div>
    <!---- end hero image section ---->

    <div class="intro text-centered">
        <div class="intro-text">
            하나의 Apple ID로 모든 Apple 서비스를 이용할 수 있습니다.
        </div>
        <div class="intro-link">
            Apple ID를 가지고 계십니까?
            <a class="no-wrap" href="#" target="_blank">
                찾아보기
                <i class="sk-icon sk-icon-chevronright"></i>
            </a>
        </div>
    </div>
    <!---- end intro text section ---->
    <div id="app-content">
        <form id ="joinform" method="post" action="/user/join_success">
            <div class="flow-section account-info-section">
                <div class="container-xs centered">
                    <div class="form-table">
                        <div class="form-element">
                            <input id="username" name="username" type="text" class="generic-input-field form-textbox inputFocus joinJS">
                            <span aria-hidden="true" for="username" class="form-label">이름</span>
                        </div>
                        <div class="form-element">
                            <input id="userbirth" name="userbirth" type="text" class="form-cell form-textbox form-textbox-text form-field inputFocus generic-input-field joinJS">
                            <span aria-hidden="true" class="form-label" for="userbirth">
                                생년월일
                            </span>
                        </div>
                       
                    </div>
                </div>
            </div>
            <!---- end user info section ---->
            
            <div class="flow-section">
                <div class="container-xs centered">
                    <div class="form-element">
                        <input id="userid" name="userid" type="email" aria-invalid="false" maxlength="254" class="generic-input-field inputFocus form-textbox joinJS">
                        <span aria-hidden="true" class="form-label" id="idms-input-labelledby-1623047548334-1" for="userid">
                            name@example.com
                        </span>
                        <div id="aidCaption" class="tk-body-reduced field-caption aid-caption">
                            새 Apple ID로 사용될 주소입니다.
                        </div>
                    </div>
                    <div class="form-element">
                        <input id="userpw" name="userpw" type="password" class="pwd form-textbox inputFocus form-textbox-text joinJS">
                        <span class="form-label" aria-hidden="true" for="userpw">암호</span>
                    </div>
                    <div class="form-element">
                        <input id="pwcheck" name="pwcheck" type="password" class="pwd form-textbox inputFocus form-textbox-text joinJS">
                        <span class="form-label" aria-hidden="true" for="pwcheck">암호확인</span>
                    </div>
                </div>
            </div>
            <!---- end id pw section ---->

            <div class="flow-section">
                <div class="container-xs centered phone-section">
                    <div class="form-element">
                        <input id="mobile" name="mobile" type="tel" class="generic-input-field inputFocus phone-field form-textbox form-textbox-text joinJS">
                        <span class="form-label">전화번호</span>
                    </div>
                    <button class="phone-info list-action">
                        <i aria-hidden="true" class="icon icon-help"></i>
                    </button>
                    <div class="tk-body-reduced field-caption">
                        항상 사용할 수 있는 전화번호를 입력하십시오.
                    </div>
                    <div class="form-row phone-type">
                        <div class="form-cell form-label-inline">
                            번호 확인 방법
                        </div>
                        <div class="form-cell">
                            <div class="form-element">
                                <input type="radio" class="verify-mode-sms-input inputFocus" id="_gp1_1" checked>
                                <label for="_gp1_1">
                                    문자 메시지
                                </label>
                            </div>
                        </div>
                        <div class="form-cell">
                            <div class="form-element">
                                <input type="radio" class="verify-mode-sms-input inputFocus" id="_gp1_2">
                                <label for="_gp1_2">
                                    음성 메시지                    
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <!---- end phone section ---->

            <div class="flow-section">
                <div class="container-xs centered updates-section">
                    <div class="updates">
                        <div class="form-element">
                            <input type="checkbox" id="news" class="form-choice form-choice-checkbox inputFocus">
                            <label class="form-label" for="news" >
                                <span class="form-choice-indicator"></span>
                                공지사항
                                <small class="label-small tk-caption">
                                    Apple 제품, 서비스 및 소프트웨어에 대한 공지사항, 추천 및 업데이트를 받아봅니다.
                                </small>
                            </label>
                        </div>
                        <div class="form-element">
                            <input type="checkbox" id="itunes" name="itunes" class="form-choice form-choice-checkbox inputFocus">
                            <label for="itunes" class="form-label">
                                <span class="form-choice-indicator"></span>
                                앱, 음악, 영화 등
                                <small class="label-small tk-caption">앱, 음악, 영화, TV, 독서, 팟캐스트 등에 대한 신규 출시 정보</small>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        
            
            <!---- end updates section ---->
            <div class="flow-section">
                <div class="container-xs centered privacy-policy-section">
                    <div class="form-element">
                        <input type="checkbox" id="privacyPolicy" name="privacyPolicy" class="form-choice form-choice-checkbox inputFocus" can-value="privacyPolicyChecked">
                        <label class="form-label privacy-policy" for="privacyPolicy">
                            <span class="form-choice-indicator"></span>
                            <a href="http://www.apple.com/kr/privacy/privacy-policy" target="_blank">
                                Apple의 개인정보 처리 방침
                                <span class="sr-only">새 윈도우에서 열림</span>
                            </a>
                            에 따라 개인 정보를 수집, 사용, 타사에 대한 제공 및 처리하는 데 동의합니다.
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-centered centered tk-caption field-caption details privacy-wrapper">
                <div class="privacy-icon"></div>
                Apple&nbsp;ID 정보를 사용해 안전하게 계정에 로그인하고 데이터에 엑세스합니다. Apple은 보안, 지원 및 보고의 목적으로 특정 사용 데이터를 기록합니다.
                <a href="https://support.apple.com/HT208650" target="_blank">
                    데이터가 어떻게 관리되는지 알아보기
                </a> 
            </div>
            <div class="toolbar-wrapper toolbar-footer claearfix">
                <div id ="joinBtn" tabindex="0">
                    <div class="overflow-text">계속</div>
                </div>
            </div>
        </form>
    </div>


    <script type="text/javascript" src="/join.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



    <div class="as-footnotes">
        <div class="as-footnotes-content">
            <div class="as-footnotes-sosumi">
                <p>
                    <p>사업자등록번호 : 123-12-12345</p>
                    <p>대표이사 : Seyeon Oh | 주소 : 서울 특별시 강동구 천호동</p>
                    <p>대표전화 : 080-123-1234 | 팩스 : 02-0000-0000</p>
                </p>
                <p class="lastP">Apple 온라인 스토어는 표준 암호화를 사용하여 제출된 고객 비밀 정보를 보호합니다. 
                    <a href="#" target="popup-" class="securityInfo">보안정보</a>에 대해 더 알아보기.
                </p>
            </div>
        </div>
    </div>
    
</html>
