<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../pwFind.css">
</head>
<body>
    <form action = "/user/pwFind" method = "post">
        <div class = "main_div" >
            <div >임시 비밀번호 발급 </div><br/>
            <input  id ="textbox" class = "width" type = "text" name = "userid" placeholder="이메일 주소를 입력해주세요">
            <p id = "pwFind_msg">{{msg}}</p>
            <br/><input id="pwfind_submit" class="BTN" type = "submit" value="Submit">
        </div>
    </form>
</body>
</html>