<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="google-signin-client_id" content="629441779926-4mqfjfoqh3u0ig9nd6j5glpjf4o6stnn.apps.googleusercontent.com">

    <link href="/users/apple_logo.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/users/join.css">
    <link rel="stylesheet" href="/users/home.css">
    <link rel="stylesheet" href="/users/login.css">
    <link rel="stylesheet" href="/users/action.css">
    <link rel="stylesheet" href="/main/section1.css">

    <title>Apple</title>
</head>

<body class="page-home ac-nav-overlap">

    <nav id="ac-globalnav" class="js no-touch no-windonws with-bagview" role="navigation" data-hires="false"
        data-analytics-region="ac-global nav" lang="ko-Kr" dir="ltr" data-www-domain="www.apple.com"
        data-store-locale="kr" data-store-root-path="/kr" data-store-api="/[sotrefront]/shop/bag/status"
        data-seach-locale="ko_KR">
        <div class="ac-gn-content">
            <ul class="ac-gn-header">
            </ul>
            <div class="ac-gn-search-placeholder-container" role="search">
            </div>
            <ul class="ac-gn-list">
                <li class="ac-gn-item ac-gn-apple">
                    <a class="ac-gn-link ac-gn-link-apple" href="#" data-analytics-title="apple home"
                        id="ac-gn-firstfocus">
                        <span></span>
                    </a>
                </li>
                <li class="ac-gn-item ac-gn-menu ac-gn-mac">
                    <a class="ac-gn-link ac-gn-link-mac" href="#">
                        <span>Mac</span>
                    </a>
                </li>
                <li class="ac-gn-item ac-gn-menu ac-gn-ipad">
                    <a class="ac-gn-link ac-gn-link-ipad" href="#">
                        <span>iPad</span>
                    </a>
                </li>
                <li class="ac-gn-item ac-gn-menu ac-gn-iphone">
                    <a class="ac-gn-link ac-gn-link-iphone" href="#">
                        <span>iPhone</span>
                    </a>
                </li>
                <li class="ac-gn-item ac-gn-menu ac-gn-watch">
                    <a class="ac-gn-link ac-gn-link-watch" href="#">
                        <span>Watch</span>
                    </a>
                </li>
                <li class="ac-gn-item ac-gn-menu ac-gn-music">
                    <a class="ac-gn-link ac-gn-link-music" href="#">
                        <span>Music</span>
                    </a>
                </li>
                <li class="ac-gn-item ac-gn-menu ac-gn-support">
                    <a class="ac-gn-link ac-gn-link-support" href="#">
                        <span>고객지원</span>
                    </a>
                </li>
                <li class="ac-gn-item ac-gn-menu ac-gn-search" role="search">
                    <div href="#" class="ac-gn-link ac-gn-link-search" role="button">
                        <span></span>
                    </div>
                </li>
                <li class="ac-gn-item ac-gn-menu ac-gn-bag">
                    <a class="ac-gn-link ac-gn-link-bag" href="#" role="">
                        <span></span>
                    </a>
                </li>
            </ul>
            <aside id="ac-gn-searchview">
                <div class="ac-gn-searchview-content">
                    <div class="ac-gn-searchview-bar">
                        <div class="ac-gn-searchview-bar-wrapper">
                            <div class="ac-gn-searchform-wrapper">
                                <form action="/search/search" method="post">
                                    <input id="ac-gn-searchform-input" class="ac-gn-searchform-input displayNone"
                                        aria-label="apple.com 검색" placeholder="apple.com 검색" name="AppleSearch"
                                        type="text">

                                </form>
                                <input type="hidden" id="ac-gn-searchform-src" name="src" value="globalnav">
                                <button id="ac-gn-searchform-submit" class="ac-gn-searchform-submit displayNone"
                                    type="submit">

                                </button>
                                <button id="ac-gn-searchform-reset" class="ac-gn-searchform-reset"
                                    type="reset"></button>
                            </div>

                        </div>
                    </div>
                    <aside class="ac-gn-searchview-results">
                        <section class="ac-gn-searchresults-section ac-gn-searchresults-section-defaultlinks">
                            <div class="ac-gn-searchresults-section-wrapper">
                                <h3 class="ac-gn-searchresults-header">빠른 링크</h3>
                                <ul class="ac-gn-searchresults-list" id="defaultslinks">
                                    <li class="ac-gn-searchresults-item">
                                        <a href="#" class="ac-gn-searchresults-link displayNone">Apple Store 임시 휴무 관련
                                            자주하는 질문</a>
                                    </li>
                                    <li class="ac-gn-searchresults-item">
                                        <a href="#" class="ac-gn-searchresults-link displayNone">Apple Store 온라인에서
                                            쇼핑하기</a>
                                    </li>
                                    <li class="ac-gn-searchresults-item">
                                        <a href="#" class="ac-gn-searchresults-link displayNone">액세서리</a>
                                    </li>
                                    <li class="ac-gn-searchresults-item">
                                        <a href="#" class="ac-gn-searchresults-link displayNone">AirPods</a>
                                    </li>
                                    <li class="ac-gn-searchresults-item">
                                        <a href="#" class="ac-gn-searchresults-link displayNone">AirTag</a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </aside>
                    <button class="ac-gn-sarchview-close">

                    </button>
                </div>
                <button id="ac-gn-searchview-close" class="ac-gn-searchview-close">
                    <span class="ac-gn-searchview-close-wrapper">
                        <span class="ac-gn-searchview-close-left"></span>
                        <span class="ac-gn-searchview-close-right"></span>
                    </span>
                </button>
            </aside>
            <span class="caret"></span>
            <aside class="ac-gn-bagview">
                <div class="ac-gn-bagview-content">
                    <p class="ac-gn-bagview-message">장바구니가 비어있습니다.</p>
                    <nav class="ac-gn-bagview-nav">
                        <ul class="ac-gn-bagview-nav-list">
                            <li class="ac-gn-bagview-nav-item">
                                <a class="item-link item-bag" href="#">장바구니</a>
                            </li>
                            <li class="ac-gn-bagview-nav-item">
                                <a href="#" class="item-link item-favorite">즐겨찾기</a>
                            </li>
                            <li class="ac-gn-bagview-nav-item">
                                <a href="#" class="item-link item-orders">주문</a>
                            </li>
                            <li class="ac-gn-bagview-nav-item">
                                <a href="/user/info" class="item-link item-account">계정</a>
                            </li>
                            <li class="ac-gn-bagview-nav-item">
                                {% if loginsite == undefined %}
                                <a href="/user/login" class="item-link item-signIn">로그인</a>
                                {% elif loginsite =='google' %}
                                <a href="#" id = "googleLogin" class="item-link item-signIn" onclick="signOut()"> {{username}} 로그아웃</a>
                                {% else %}
                                <a href="/user/logout" class="item-link item-signIn">{{username}} 로그아웃</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
        </div>

    </nav>
    <!-- <div class="ac-gn-blur"></div>
    <div id="ac-gn-curtain"></div>
    <div class="ac-gn-placeholder"></div>
    <div class="as-search-wrapper"></div> -->
    <!----- end global navigation ----->
    <!-- 

    <div class="ac-gn-blur"></div>
    <div id="ac-gn-placeholder"></div>
   
    <div id="ac-gn-viewport-emitter"></div> -->


    <!----- main section ----->


    <div id="ac-gn-curtain"></div>


    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript">
        function signOut(){
            console.log('d')
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                location.href = 'http://localhost:3000/user/logout';
                console.log('GOOGLE User signed out.');
            });
        }
    </script>



