<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = "wrap">
        <div id ="settings">
            <div id="settings_title">
                <h1>계정 설정</h1>
            </div>
            <div id = "delivery">
                <div id ="delivery_title">
                    <h2>배송</h2>
                </div>
                <div id ="delivery_address">
                    <p>배송 주소</p>
                    <p></p>
                    <p></p>
                </div>
                <div id ="contact_info">
                    <p>연락처 정보</p>
                    <p></p>
                </div>
            </div>
            <div id = "info_secure">
                <div id ="info_secure_title">
                    <h2>개인 정보 보호 </h2>
                </div>
                <div id ="private">
                    <p>개인 정보</p>
                    <p>고객님의 개인 정보는 고객님만의 것으로 언제든 직접 데이터를 관리하고 계정을 삭제할 수도 있습니다. Apple은 개인 정보 보호를 취우선으로 여깁니다.</p>
                    <a>내 개인 정보 관리 ></a>
                </div>
            </div>
            <div id = "Apple_id">
                <div id ="Apple_id_title">
                    <h2>Apple ID</h2>
                </div>
                <div id ="Apple_id_content">
                    <p></p>
                    <a href = "/user/info_view">Apple ID 관리</a>
                    <p>Apple ID는 App Store, Apple Music, iCloud, iMessage, FaceTime 등의 Apple 서비스를 이용할 때 사용하는 계정입니다.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>