<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id = "wrap">
        <div id="account">
            <div>
                <h2>계정</h2>
            </div>
            <div>
                <p>APPLE ID</p>
                <p>생년월일</p>
                <p>언어</p>
                <p>국가/지역</p>
            </div>
            <div>
                <p>연락처</p>
            </div>
            <div>
                <a href="/user/info_modify">수정</a>
                <a href="/user/deleteID">계정 탈퇴</a>
            </div>
        </div>
        <div id ="secure">
            <div>
                <h2>보안</h2>
            </div>
            <div>
                <p>암호</p>
                <p>이중 인증</p>
            </div>
            <div>
                <p>신뢰하는 전화번호</p>
                <p>앱 압호</p>
            </div>
        </div>
        <div id ="mobile">

        </div>
        <div id ="pay">

        </div>
        <div id ="message">

        </div>
        <div id = "data">

        </div>
    </div>
</body>
</html>