<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../../../admin/css/product_view.css">
</head>
<body>
    <div class = "headerWrap wrap">
        <div class = "header w1200">
            <div class = "logo">
                <img src = "">
            </div>
            <div class = "user blue">
                <div class = "">관리자 <span>{{userid}}</span>님</div>
                <a href = "/admin/logout">로그아웃</a>
            </div>
        </div>
    </div>
    <div class = "middleWrap wrap">
        <div class = "middle w1500">
            <div class = "menu">
                <div>카테고리</div>
                <ul>
                    <li><a href = "">팝업 관리</a></li>
                    <li><a href = "/admin/user_list">사용자 관리</a></li>
                    <li><a href = "/admin/product_list">교육 서비스 관리</a></li>
                    <li><a href = "/admin/valuation">수강 후기 관리</a></li>
                    <li class = "margintop"><a href = "/admin/chat_list">고객 문의/채팅</a></li>
                </ul>
                <div class = >유저정보</div>
                <ul>
                    <li><a href = "/admin/admin_info">관리자 정보</a></li>
                </ul>
            </div>
            <div class = "content blue">
                <div class = "grey">수강 후기</div>
                <table class = "table">
                    <tr>
                        <td class = "w100">제품번호</td>
                        <td class = "w600">{{result.id}}</td>
                    </tr>
                    <tr>
                        <td class = "w100">제목</td>
                        <td class = "w600">{{result.value_subject}}</td>
                    </tr>
                    <tr>
                        <td class = "w100">아이디</td>
                        <td class = "w600">{{result.userid}}</td>
                    </tr>
                    <tr>
                        <td class = "w100">수강평</td>
                        <td class = "product_img">{{result.value_content}}</td>
                    </tr>
                </table>
                <a href = "/admin/valuation">리스트로</a>
            </div>
        </div>
    </div>
</body>
</html>