<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../../../admin/css/product_list.css">
    <title>Document</title>
</head>
<body>
    <div class = "headerWrap wrap">
        <div class = "header w1200">
            <div class = "logo">
                <img src = "">
            </div>
            <div class = "user blue">
                <div class = "">관리자 {{userid}}님</div>
                <a href = "/admin/logout">로그아웃</a>
            </div>
        </div>
    </div>
    <div class = "middleWrap wrap">
        <div class = "middle w1200">
            <div class = "menu">
                <div>카테고리</div>
                <ul>
                    <li><a href = "">팝업 관리</a></li>
                    <li><a href = "/admin/product_list">교육 서비스 관리</a></li>
                    <li><a href = "/admin/valuation">수강 후기 관리</a></li>
                    <li class = "margintop"><a href = "/admin/chat_list">고객 문의/채팅</a></li>
                </ul>
                <div class = >유저정보</div>
                <ul>
                    <li><a href = "/admin/admin_info">관리자 정보</a></li>
                </ul>
            </div>
            <div class = "content">
                <div>
                    <form action = "/admin/search_success" method = "post">
                        <div class = "search">
                            <div class = "">상품 검색</div>
                             <input type = "text" placeholder = "상품을 검색하세요" name = "search" class = "searchwidth searchheight">
                            <input type = "submit" class = "searchheight buttonwidth" value = "?">
                        </div>      
                    </form>
                </div>
                <div>
                    <table class = "table">
                        <tr class = "grey">
                            <td>인덱스값</td>
                            <td>상품 번호</td>
                            <td class = "product_name_length">제품명</td>
                            <td>제품가격</td>
                            <td>제품이미지</td>
                            <td>제품사이즈</td>
                            <td>제품색깔</td>
                            <td>제품용량</td>
                            <td>삭제하기</td>
                        </tr>
                        {% for item in list %}
                        <form action = "/admin/delete_success?idx={{item.id}}" method = "post"> 
                            <tr class = "blueGreen">
                                <td>{{item.id}}</td>
                                <td>{{item.item_serial_number}}</td>
                                <td class = "prduct_name_length blue"><a href = "/admin/product_view?idx={{item.id}}">{{item.item_name}}</a></td>
                                <td>{{item.item_price}}</td>
                                <td id = "img1"><img id = "img" src = "../../../{{item.item_image}}"></td>
                                <td>{{item.item_size}}</td>
                                <td>{{item.item_color}}</td>
                                <td>{{item.item_capacity}}</td>
                                <td>
                                    <input type = "submit" class = "delete" value = "삭제하기">
                                </td>
                            </tr> 
                        </form>   
                        {% endfor %} 
                    </table>
                    <div class = "blue"><a href = "/admin/product_add">상품 추가하기</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

