
.line{
    height:1px;
    width:100%;
    background: grey;
}


.line2{
    height:1px;
    width:100%;
    background: grey;
}

*{
    margin: 0;
    padding:0;
}
.wrap{
    width:100%;
}

.wrap1200{
    width:1100px;
    margin:0 auto;
}

.search{
    margin-top:40px;
    border:1px solid grey;
    border-radius: 7px;
    width:380px;
    height:35px;

}
.click, .input{
    display: inline-block;
  
 
}
.click{
    float: left;
    margin-top: 3px;
}

.input>input{
    border: none;
}
.click>input{
    border-radius: 7px;
    height:25px;
    padding:2px;
}
.input>input{
    height:35px;
    width:340px;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}
.menu>li{
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: inline-block;
}
h5{
    margin-top: 7px;
    color:grey;
    margin-bottom: 60px;
}

.image{
    display: inline-block;
    float: left;
    width:130px;
    height:130px;
}

.clear{
    clear:both;
    margin-bottom: 65px;
}

.margin_left{
    display: inline-block;
    margin-left: 80px;
}

.font1{
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.font2{
    color:grey;
    font-size: 17px;
}

.font3{
    margin-top:12px;
}
.font3>a{
    color: #0070c9;
    font-size: 19px;
}

.w300{
    width:400px;
    margin:0 auto;
    height:100px;
}

.w300>div{
    display: inline-block;
    margin-right: 45px;
}

.w300>div>div{
    display: inline-block;
}

.w300>div>div>a{
    color:#0070c9;
}
.image2{
    display: inline-block;
    width:30px;
    height:30px;
}
.text{
    line-height: 30px;
}

.d{
    display: flex!important;
    justify-content: center;
    float:left;

}

.text{
    margin-left: 8px;
}
.footer{
    clear: both;
}

.wrap1300{
    width:1200px;
    margin:0 auto;
}

.wrap2{
    width: 100%;
    background: #f5f5f7;
}

.h6{
   padding:20px;
   color:grey;
   font-size: 13px;
}

.s{
   padding:20px; 
}

.footer_list>ul{
    margin-right: 100px;
    display: inline-block;
}


.first{
    margin-left: 20px;
}

.footer_list>ul>h3{
    margin-bottom: 6px;
    font-size: 15px;
}

.footer_list>ul>li{
    color:grey;
    font-size: 14px;
    line-height: 26px;
}

.font5{
    margin-top:20px;
    font-size:14px;
    padding:20px;
    color:grey;
}

.font6{
    font-size:14px;
    padding:20px;
    color:grey;
    display: inline-block;
    float: left;
}

.flist>li{
    font-size:14px;
    color:grey;
    margin-top: 20px;
    display: inline-block;
}
