<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style = "width:100%;">
        <div sytle = "width:1200px; margin:0 auto;">
            <h1>나의 지식에 가치를 더하세요</h1>
            <div>
                전체 지식공유자 평균 수익 3025만원!!<br/>
                나의 지식을 나눠 사람들에게 배움의 기회를 주고, 의미있는 대가를 가져가세요.<br/>
                인프런은 지식으로 의미있는 수익과 공유가 가능한 한국 유일한 플랫폼 입니다.
            </div>
        </div>
    </div>
    <div style = "width:100%;">
        <div sytle = "width:1200px; margin:0 auto;">
            <div>
                <h2>
                    지식공유자를 위한<br/>
                    높은 정산 비율
                </h2>
                <div>
                    보통은 교육컨텐츠 수입의<br/>
                    50% 이상을 플랫폼이나 학원이 가져갑니다.<br/>
                    자신의 지식을 나누는 지식공유자에게<br/>
                    더 많은 보상이 주어져야 하는 것 아닐까요?
                </div>
                <div>
                    인프런은<br/>
                    강의: 70%~90% , 멘토링: 100%<br/>
                    비율로 정산합니다.  
                </div>
            </div>
            <div>
                <img src = "../../graph.png">
            </div>
        </div>
    </div>
    <div style = "width:100%;">
        <div sytle = "width:1200px; margin:0 auto;">
            <h3>지식 공유자가 되기 위해서 다음과 같은 정보가 필요해요</h3>
            <form action = "/search/professor" method = "post">
                <div>
                    <div>연락받을 이메일</div>
                    <input type = "text" name = "email"> 
                </div>
                <div>
                    <div>이름</div>
                    <input type = "text" name = "oname"> 
                </div>
                <div>
                    <div>연락처</div>
                    <input type = "text"> 
                </div>
                <div>
                    <div>분야</div>
                    <input type = "text" name = "category"> 
                </div>
                <div>
                    <input type = "submit" value = "제출">
                </div>       
            </form>
        </div>

    </div>
</body>
</html>