<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../../professor.css">
</head>
<body>
    <div style = "height: 200px;width:100%; background:  #007aff; color:white; padding:50px 0px;">
        <div style = "width:1200px; margin:0 auto;">
            <h1><a style = "display: inline-block;  color:white; text-decoration: none;" href = "/">나의 지식에 가치를 더하세요</a></h1>
            <div style = "line-height: 25px; font-size: 17px; margin-top: 50px;">
                전체 지식공유자 평균 수익 3025만원!!<br/>
                나의 지식을 나눠 사람들에게 배움의 기회를 주고, 의미있는 대가를 가져가세요.<br/>
                인프런은 지식으로 의미있는 수익과 공유가 가능한 한국 유일한 플랫폼 입니다.
            </div>
        </div>
    </div>
    <div style = "width:100%; margin-top:70px; ">
        <div style = "width:530px; margin-top:40px; margin:0 auto;">
            <div style = "display:inline-block; float:left; ">
                <h2>
                    지식공유자를 위한<br/>
                    높은 정산 비율
                </h2>
                <div>
                    보통은 교육컨텐츠 수입의<br/>
                    50% 이상을 플랫폼이나 학원이 가져갑니다.<br/>
                    자신의 지식을 나누는 지식공유자에게<br/>
                    더 많은 보상이 주어져야 하는 것 아닐까요?
                </div>
                <div style = "margin-top: 25px; font-weight: bold;">
                    study는<br/>
                    강의: 70%~90% , 멘토링: 100%<br/>
                    비율로 정산합니다.  
                </div>
            </div>
            <div style = "display:inline-block; width:200px; height:300px;">
                <img style = "width:200px; height:300px;" src = "../../graph.png">
            </div>
        </div>
    </div>
    <div style = "width:100%; margin-top:70px; height:700px; ">
        <div style = "width:1300px; margin-top:40px; margin:0 auto;">
            <h2 style = "text-align: center; margin-bottom: 50px;">왜 여기일까요?</h2>
            <div style = "text-align: center;">
                <ul>
                    <li style = "display: inline-block; float:left; width:370px; margin-left: 30px;">
                        <div><img src = "../../wht.png"></div>
                        <div style = "font-weight: bold; margin-bottom: 20px;">지식 콘텐츠를 함부로 다루지 않습니다.</div>
                        <div>너무 크고 잦은 할인은 결과적으로 콘텐츠의 질을<br/> 떨어뜨리고, 지식의 가치를 존중하지 않는 일이라<br/> 생각합니다. 인프런은 합리적인 가격 정책으로 지식<br/>공유자와 학습자 모두에게 도움이 되는 생태계를 만<br/>들어 가고 있습니다.</div>
                    </li>
                    <li style = "display: inline-block; float:left; width:370px; margin-left: 30px;">
                        <div><img src = "../../wht2.png"></div>
                        <div style = "font-weight: bold; margin-bottom: 20px;">수익이 가능한 유일한 곳</div>
                        <div>인프런은 기술 강의로 의미 있는 보상을 가질 수 있<br/>는 유일한 플랫폼 입니다. 수강생이 강의를 신청할<br/> 때마다 수익을 얻으세요. 지속가능한 수익과 명예를<br/> 가져가세요. 강의 매출의 70% ~ 90% 를 가져가실 수 있습니다.</div>
                    </li>
                    <li style = "display: inline-block; float:left; width:370px; margin-left: 30px;">
                        <div><img src = "../../wht3.png"></div>
                        <div style = "font-weight: bold; margin-bottom: 20px;">사회적 가치를 실현하세요.</div>
                        <div>오직 인프런에서만 가능합니다. 자신의 지<br/>식으로 지속가능한 수익을 올리면서도, 많은 사람들에게 경제적인 배움의 기회를 줄 수 있습니다. 사람들이 성장하고, 자신의 능력을 향상하도록 인프런과 함께해주세요.</div>
                    </li>
                </ul>
                <ul>
                    <li style = "display: inline-block; float:left; width:370px; margin-left: 30px;">
                        <div><img src = "../../wht.png"></div>
                        <div style = "font-weight: bold; margin-bottom: 20px;">지식 콘텐츠를 함부로 다루지 않습니다.</div>
                        <div>너무 크고 잦은 할인은 결과적으로 콘텐츠의 질을<br/> 떨어뜨리고, 지식의 가치를 존중하지 않는 일이라<br/> 생각합니다. 인프런은 합리적인 가격 정책으로 지식<br/>공유자와 학습자 모두에게 도움이 되는 생태계를 만<br/>들어 가고 있습니다.</div>
                    </li>
                    <li style = "display: inline-block; float:left; width:370px; margin-left: 30px;">
                        <div><img src = "../../wht2.png"></div>
                        <div style = "font-weight: bold; margin-bottom: 20px;">수익이 가능한 유일한 곳</div>
                        <div>인프런은 기술 강의로 의미 있는 보상을 가질 수 있<br/>는 유일한 플랫폼 입니다. 수강생이 강의를 신청할<br/> 때마다 수익을 얻으세요. 지속가능한 수익과 명예를<br/> 가져가세요. 강의 매출의 70% ~ 90% 를 가져가실 수 있습니다.</div>
                    </li>
                    <li style = "display: inline-block; float:left; width:370px; margin-left: 30px;">
                        <div><img src = "../../wht3.png"></div>
                        <div style = "font-weight: bold; margin-bottom: 20px;">사회적 가치를 실현하세요.</div>
                        <div>오직 인프런에서만 가능합니다. 자신의 지<br/>식으로 지속가능한 수익을 올리면서도, 많은 사람들에게 경제적인 배움의 기회를 줄 수 있습니다. 사람들이 성장하고, 자신의 능력을 향상하도록 인프런과 함께해주세요.</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="slide">
        <input type="radio" name="pos" id="pos1" checked>
        <input type="radio" name="pos" id="pos2">
        <input type="radio" name="pos" id="pos3">
        <input type="radio" name="pos" id="pos4">
        <ul>
            <li style = "text-align: center;">
                <div style = "margin-top:40px; font-size: 23px; font-weight: bold;">우아한 형제들 개발자 누구님</div>
                <div style = "margin-top:40px; font-size: 18px; color:grey;">#study #개발자</div>
                <div style = "margin-top:40px; font-size: 20px;">study를 만났던 것을 행운으로 여기고 있습니다</div>
            </li>
            <li style = "text-align: center;">
                <div style = "margin-top:40px; font-size: 23px; font-weight: bold;">대학교 컴공과 재학생</div>
                <div style = "margin-top:40px; font-size: 18px; color:grey;">#study #개발자</div>
                <div style = "margin-top:40px; font-size: 20px;">study를 만났던 것을 행운으로 여기고 있습니다</div>
            </li>
            <li style = "text-align: center;">
                <div style = "margin-top:40px; font-size: 23px; font-weight: bold;">코딩 캠프 개발팀</div>
                <div style = "margin-top:40px; font-size: 18px; color:grey;">#study #개발자</div>
                <div style = "margin-top:40px; font-size: 20px;">study를 만났던 것을 행운으로 여기고 있습니다</div>
            </li>
            <li style = "text-align: center;">
                <div style = "margin-top:40px; font-size: 23px; font-weight: bold;">우아한 형제들 개발자 누구님</div>
                <div style = "margin-top:40px; font-size: 18px; color:grey;">#study #개발자</div>
                <div style = "margin-top:40px; font-size: 20px;">study를 만났던 것을 행운으로 여기고 있습니다</div>
            </li>
        </ul>
        <p class="pos">
          <label for="pos1"></label>
          <label for="pos2"></label>
          <label for="pos3"></label>
          <label for="pos4"></label>
        </p>
      </div>
    <div style = "width:100%; clear:both; margin-top: 60px; text-align: center;">
        <div style = "width:1200px; margin:0 auto;">
            <h3 style = "font-size: 30px; font-weight: lighter; margin-bottom: 40px;">지식 공유자가 되기 위해서 <span style = "color:#007aff; font-weight: bold;">강의 소개</span>를 적어주세요.</h3>
            <div style = "border:1px solid #007aff; padding:40px 0px;">
                <div style = "font-size: 25px;">강의 카테고리</div>
                <select style = "border:1px solid #007aff; color:#007aff; margin-top: 40px;  margin-bottom: 40px;width:100px; height:40px;">
                    <option value = "Blockchain" name = "item_category">블록체인</option>
                    <option value = "ARVR" name = "item_category">가상증강</option>
                    <option value = "GAMMING" name = "item_category">게임</option>
                    <option value = "motion" name = "item_category">모션그래픽</option>
                    <option value = "program" name = "item_category">게임기획</option>
                    <option value = "gammer" name = "item_category">프로게이머</option>
                </select>
                <form action = "/search/professor2" method = "post">
                    <div style = "font-size: 25px;">경력 사항</div>
                    <input name = "career" style = "border:1px solid #007aff; width:600px; height:40px; margin-top: 40px; margin-bottom: 40px;" type = "text">          
                    <div style = "font-size: 25px;">자신있는 기술이나 언어</div>
                    <input name = "skill_language" style = "border:1px solid #007aff; width:600px; height:40px; margin-top: 40px; margin-bottom: 40px;" type = "text">          
                    <div style = "font-size: 25px;">강의 제목과 커리큘럼 요약</div>
                    <input name = "curriculum" style = "border:1px solid #007aff; width:600px; height:400px; margin-top: 40px; margin-bottom: 40px;" type = "text">               
                    <div>
                        <input style = "color:white; background: #007aff; font-size: 18px; border:1px solid #007aff; margin-top: 40px;  margin-bottom: 40px;width:500px; height:40px;" type = "submit" value = "제출">
                    </div>       
                </form>
            </div>   
        </div>
    </div>
    <div style = "width:100%; clear:both; margin-top: 60px; margin-bottom:50px; text-align: center;">
        <div style = "width:1200px; margin:0 auto;">
            <h3 style = "font-size: 30px; font-weight: lighter; margin-bottom: 40px;">지식 공유자가 되기 위해서 <span style = "color:#007aff; font-weight: bold;">연락받으실 수단</span>을 적어주세요.</h3>
            <div style = "border:1px solid #007aff; padding:40px 0px;">
                <form action = "/search/professor" method = "post">
                    <div>
                        <div style = "font-size: 25px;">연락받을 이메일</div>
                        <input style = "border:1px solid #007aff; color:#007aff; margin-top: 40px;  margin-bottom: 40px;width:500px; height:40px;" type = "text" name = "email"> 
                    </div>
                    <div>
                        <div style = "font-size: 25px;">이름</div>
                        <input style = "border:1px solid #007aff; color:#007aff; margin-top: 40px;  margin-bottom: 40px;width:500px; height:40px;" type = "text" name = "oname"> 
                    </div>
                    <div>
                        <div style = "font-size: 25px;">연락처</div>
                        <input style = "border:1px solid #007aff; color:#007aff; margin-top: 40px;  margin-bottom: 40px;width:500px; height:40px;" type = "text"> 
                    </div>
                    <div>
                        <div style = "font-size: 25px;">분야</div>
                        <input style = "border:1px solid #007aff; color:#007aff; margin-top: 40px;  margin-bottom: 40px;width:500px; height:40px;" type = "text" name = "category"> 
                    </div>
                    <div>
                        <input style = "color:white; background: #007aff; font-size: 18px; border:1px solid #007aff; margin-top: 40px;  margin-bottom: 40px;width:500px; height:40px;" type = "submit" value = "제출">
                    </div>       
                </form>
            </div>
        </div>
    </div>
</body>
</html>