<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../../question.css">
</head>
<body>
    <a href = "/">
        <div class = "headerwrap wrap">
            <div class = "header1200 w1200"> 
                <div class = "he">묻고 답해요</div>
                <div class = "hi">55만명의 커뮤니티!! 함께 토론해봐요!</div>
            </div>
        </div>    
    </a>
    <div class = "contentwrap wrap">
        <div class = "content1200 w1200">
      
            <div class = "menuvar" style = "display: inline-block; float:left;">
                <div>질문&답변</div>
                <div>자유주제</div>
                <div>스터디</div>
            </div>
            <div class = "topcontent" style = "display: inline-block;">
                
                <div>
                    <form action = "/search/question2" method = "post">
                        <input class = "search2" type = "text" name = "question_name" placeholder="궁금한 질문을 검색해보세요!">
                        <input class = "search1" type = "submit" value = "?">
                    </form>
                </div>
                <div style = "display: inline-block;">
                    <div class = "Write">글쓰기</div>
                </div>
                <div style = "margin: 70px auto; width:800px; background: grey; height:1px;"></div>
                <div>
                    {% for item in result %}
                    <ul>
                        <li style = "color:black; font-size: 18px; font-weight: bold; margin-bottom: 30px;"><a style = "color:black" href = "/search/question_oneview?subject={{item.id}}&question_subject={{item.question_subject}}">{{item.question_subject}}</a></li>
                        <li style = "font-size: 16px;  margin-bottom: 50px;">{{item.question_content}}</li>
                        <li style = "font-size: 16px;  margin-bottom: 50px;">{{item.question_id}}</li>
                        <li style = "margin: 70px auto; width:800px; background: grey; height:1px;"></li>
                    </ul>  
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class = "WriteContent" style = "display:none; width:100vw; height:100vh; background-color: rgba(0, 0, 0, 0.3); position: absolute; z-index: 1;">
        
        <div class="write-content" style = "background: white; width: 70%; margin:0 auto; height:600px; box-sizing: border-box; padding:40px;">
            <div class = "WriteClose" style = "color: grey; font-size:26px; font-weight: bold; padding:10px;">X</div>
            <div class="write-form-wrap">
                <form action = "/search/question" method = "post">
                    <div class="headline-wrap">
                        <h3 style = "color:#0c8b5673;">제목</h3>
                        <input style = "display: inline-block; height:40px;" type = "text" name = "question_subject">
                    </div>
                    <div class="id-wrap">
                        <h3 style = "color:#0c8b5673;">아이디</h3>
                        <input style = "display: inline-block; height:40px;" type = "text" name = "question_id">
                    </div>
                    <h3 style = "color:#0c8b5673;">내용</h3>
                    <input style = "display: inline-block; height:200px;" type = "text" name = "question_content"><br/>
                    <input style = "display: inline-block; color:#0c8b5673; background: white; border:1px solid; color:#0c8b5673; width:100px; height:40px; font-size: 20px; margin-top: 40px;" type = "submit" value = "저장" style = "background:blue; opacity: 80%;">
                </form>
            </div>
        </div>
    </div>
</body>
<script type = "text/javascript">
    let Write = document.querySelector('.Write')
    let WriteContent = document.querySelector('.WriteContent')
    Write.addEventListener('click', Openwrite)

    function Openwrite(){
        WriteContent.style.display = 'block'
    }

    let WriteClose = document.querySelector('.WriteClose')

    WriteClose.addEventListener('click',CloseWrite)

    function CloseWrite(){
        WriteContent.style.display = 'none'
    }

    const writeCont = document.querySelector('.WriteContent');
    function contentPopup(evnet){
        console.log('dasa')
        if(evnet.target == writeCont){
            CloseWrite();
        }
    }

    
    window.addEventListener('click', event => {
        contentPopup(event);
    })
</script>
</html>