<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../../buy_show.css">
    <link rel= "stylesheet" media="screen and (max-width: 480px)" href="../../width/buy_show_width.css">
</head>
<body>
    <div class = "fullwrap wrap">
        <div class = "full w1200">
            <div class = "header">
                <div class = "headerLogo">
                    <a href = "/user/login"><img class = "headerLogo" src = "../../logo.png"></a>
                </div>
                <div class = "headertext">
                    From $699 or $29.12/mo.per month before trade-inFootnote*
                </div>
            </div>
            <div class = "line">

            </div>
            <div class = "header2">
                <ul>
                    <li class = "image2"><img class = "image2" src = "../../header.png"></li>
                    <li class = "text2">Get up to $700 credit after<br/> trade‑in.FootnoteΔ</li>
                </ul>
                <ul>
                    <li class = "image2"><img  class = "image2"src = "../../header.png"></li>
                    <li class = "text2">Get up to $700 credit after<br/> trade‑in.FootnoteΔ</li>
                </ul>
                <ul>
                    <li class = "image2"><img  class = "image2"src = "../../header.png"></li>
                    <li class = "text2">Get up to $700 credit after<br/> trade‑in.FootnoteΔ</li>
                </ul>
            </div>
            <div class = "buy">
                <div class = "product_img width">
                    <img class = "width" src = "../../{{list.item_image}}">
                </div>
                <div class = "product_text">
                    <h4 class = "blue">New</h4>
                    <h2 class = "font-size1">상품명:{{list.item_name}}</h2>
                    <h2 class = "font-size1">상품카테고리:{{list.item_category}}</h2>
                    <div class = "margin-top">Get up to $80 - $525 by trading in iPhone 7 or<br/> newer*</div>
                    <div class = "blue"><a href = "">See how trade-in works</a></div>
                    <div class = "margin-top">Choose your model.</div>
                    <div class = "margin-top blue"><a href = "">Which model is right for you?</a></div>
                    <div class = "border">
                        <div class = "textLeft">
                            <h4>iPhone 12 mini</h4>
                            <h7>5.4-inch display</h7>
                        </div>
                        <div class = "textRight">
                            From $699<br/>or $29.12/mo.<br/>before trade-in
                        </div>
                    </div>
                    <div class = "border2">
                        <div class = "textLeft">
                            <h4>iPhone 12 mini</h4>
                            <h7>5.4-inch display</h7>
                        </div>
                        <div class = "textRight">
                            From $699<br/>or $29.12/mo.<br/>before trade-in
                        </div>
                    </div>
                    <div class = "line2"></div>
                    <div class = "fontFULL">
                        <h3>Choose your finish</h3>
                        <ul class = "list_color">
                            <div>
                                <li class = "border3">
                                    <div class = "image3"><img class = "image3"src = "../../list_color.jpg"></div>
                                    <div class = "color_text">White</div>
                                </li>
                                <li class = "border3">
                                    <div class = "image3"><img class = "image3"src = "../../list_color.jpg"></div>
                                    <div class = "color_text">White</div>
                                </li>
                            </div>
                            <div>
                                <li>
                                    <div class = "image3"><img class = "image3"src = "../../list_color.jpg"></div>
                                    <div class = "color_text">White</div>
                                </li>
                                <li>
                                    <div class = "image3"><img class = "image3"src = "../../list_color.jpg"></div>
                                    <div class = "color_text">White</div>
                                </li>
                            </div>
                            <div>
                                <li>
                                    <div class = "image3"><img class = "image3"src = "../../list_color.jpg"></div>
                                    <div class = "color_text">White</div>
                                </li>
                                <li>
                                    <div class = "image3"><img class = "image3"src = "../../list_color.jpg"></div>
                                    <div class = "color_text">White</div>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class = "line2 clear">

                    </div>
                    <div class = "fontFULL">
                        <h3>Choose your carrier.</h3>
                        <div class = "grey">We’ll work with the carrier you choose to activate your new<br/> iPhone so you can keep your number. For 5G service, some<br/> carriers may require an upgrade to a 5G plan.</div>
                        <div class = "blue"><a href = "">Compare all pricing and special offers</a></div>
                        <ul>
                            <div class = "bunch">
                                <li class = "boder1 f1">
                                    <div class = "img9"><img class = "img9" src = "../../carrier.png"></div>
                                    <div class = "text9">From $699 or $29.12/mo.
                                        <br/>before trade-in
                                    </div>
                                </li>
                                <li class = "boder1 f2">
                                    <div class = "img9"><img class = "img9" src = "../../carrier.png"></div>
                                    <div class = "text9">From $699 or $29.12/mo.
                                        <br/>before trade-in
                                    </div>
                                </li>                               
                            </div>
                            <div class = "bunch">
                                <li class = "boder1 f3">
                                    <div class = "img9"><img class = "img9" src = "../../carrier.png"></div>
                                    <div class = "text9">From $699 or $29.12/mo.
                                        <br/>before trade-in
                                    </div>
                                </li>
                                <li class = "boder1 f4">
                                    <div class = "img9"><img class = "img9" src = "../../carrier.png"></div>
                                    <div class = "text9">From $699 or $29.12/mo.
                                        <br/>before trade-in
                                    </div>
                                </li>                               
                            </div>
                        </ul>
                        <ul>
                            <li class = "default1">
                                <div class = "bold5">Get an additional $100 in trade-in credit<br/> from T-Mobile/Sprint.Footnoteº</div>
                                <div class = "lighter">1. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">2. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">3. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                            </li>
                            <li class = "default2">
                                <div class = "bold5">1–3 monthly payments of $23.30 before bill credits.<br/> from T-Mobile/Sprint.Footnoteº</div>
                                <div class = "lighter">1. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">2. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">3. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                            </li>
                            <li class = "default3">
                                <div class = "bold5">Get an additional $100 in trade-in credit<br/> from T-Mobile/Sprint.Footnoteº</div>
                                <div class = "lighter">1. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">2. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">3. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                            </li>
                            <li class = "default4">
                                <div class = "bold5">1–3 monthly payments of $23.30 before bill credits.<br/> from T-Mobile/Sprint.Footnoteº</div>
                                <div class = "lighter">1. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">2. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">3. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                            </li>
                        </ul>
                    </div>
                    <div class = "line2">

                    </div>
                    <div class = "fontFULL">
                        <h3>Choose your capacity</h3>
                        <ul>
                            <div class = "bunch">
                                <li class = "boder1 f1">
                                    <div class = "img9">64GB</div>
                                    <div class = "text9">From $699 or $29.12/mo.
                                        <br/>before trade-in
                                    </div>
                                </li>
                                <li class = "boder1 f1">
                                    <div class = "img9">128GB</div>
                                    <div class = "text9">From $699 or $29.12/mo.
                                        <br/>before trade-in
                                    </div>
                                </li>                             
                            </div>
                            <div class = "bunch">
                                <li class = "boder1 f1">
                                    <div class = "img9">240GB</div>
                                    <div class = "text9">From $699 or $29.12/mo.
                                        <br/>before trade-in
                                    </div>
                                </li>  
                                <li class = "boder1 f1">
                                    <div class = "img9">64GB</div>
                                    <div class = "text9">From $699 or $29.12/mo.
                                        <br/>before trade-in
                                    </div>
                                </li>  
                            </div>
                        </ul>
                    </div>
                    <div class = "line2 clear">

                    </div>
                    <div class = "fontFULL">
                        <h3>Choose your carrier.</h3>
                        <div class = "grey">We’ll work with the carrier you choose to activate your new<br/> iPhone so you can keep your number. For 5G service, some<br/> carriers may require an upgrade to a 5G plan.</div>
                        <div class = "blue"><a href = "">Compare all pricing and special offers</a></div>
                        <ul>
                            <div class = "bunch">
                                <li class = "boder1 f1">
                                    <div class = "img9"><img class = "img9" src = "../../carrier.png"></div>
                                    <div class = "text9">From $699 or $29.12/mo.
                                        <br/>before trade-in
                                    </div>
                                </li>
                                <li class = "boder1 f2">
                                    <div class = "img9"><img class = "img9" src = "../../carrier.png"></div>
                                    <div class = "text9">From $699 or $29.12/mo.
                                        <br/>before trade-in
                                    </div>
                                </li>                               
                            </div>
                            <div class = "bunch">
                                <li class = "boder1 f3">
                                    <div class = "img9"><img class = "img9" src = "../../carrier.png"></div>
                                    <div class = "text9">From $699 or $29.12/mo.
                                        <br/>before trade-in
                                    </div>
                                </li>
                                <li class = "boder1 f4">
                                    <div class = "img9"><img class = "img9" src = "../../carrier.png"></div>
                                    <div class = "text9">From $699 or $29.12/mo.
                                        <br/>before trade-in
                                    </div>
                                </li>                               
                            </div>
                        </ul>
                        <ul>
                            <li class = "default1">
                                <div class = "bold5">Get an additional $100 in trade-in credit<br/> from T-Mobile/Sprint.Footnoteº</div>
                                <div class = "lighter">1. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">2. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">3. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                            </li>
                            <li class = "default2">
                                <div class = "bold5">1–3 monthly payments of $23.30 before bill credits.<br/> from T-Mobile/Sprint.Footnoteº</div>
                                <div class = "lighter">1. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">2. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">3. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                            </li>
                            <li class = "default3">
                                <div class = "bold5">Get an additional $100 in trade-in credit<br/> from T-Mobile/Sprint.Footnoteº</div>
                                <div class = "lighter">1. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">2. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">3. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                            </li>
                            <li class = "default4">
                                <div class = "bold5">1–3 monthly payments of $23.30 before bill credits.<br/> from T-Mobile/Sprint.Footnoteº</div>
                                <div class = "lighter">1. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">2. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                                <div class = "lighter">3. Trade in an iPhone 8 or newer (in good condition) with Apple.</div>
                            </li>
                        </ul>
                    </div>
                    <div class = "price fontFULL">
                        <h3>상품가격:{{list.item_price}}</h3>
                        <div class = "df">Includes $30 Verizon instant discount (requires<br/> activation).</div>
                        <div class = "fgg"><a href = "">Get 3% Daily Cash with Apple Card</a></div>
                        <div class = "line3"></div>
                        <div>
                            <div class = "ee"><img class = "ee" src = "../../box_img.png"></div>
                            <div class = "dggf">
                                <d4 class = "f">Delivery:</d4>
                                <div>In Stock</div>
                                <div>Free Shipping</div>
                                <div><a href = "../../box_img.png">Get delivery dates</a></div>
                            </div>
                        </div>
                        <div class = "ADSgdsg">
                            <div class = "ee"><img class = "ee" src = "../../box_img.png"></div>
                            <div class = "dggf">
                                <d4 class = "f">Delivery:</d4>
                                <div>In Stock</div>
                                <div>Free Shipping</div>
                                <div><a href = "../../box_img.png">Get delivery dates</a></div>
                            </div>
                        </div>
                        <form action = "http://localhost:3000/buy/shopping_basket_send" method = "post">
                            <input class = "none" type = "text" name = "item_name" value = "{{list.item_name}}">
                            <input class = "none" type = "text" name = "item_category" value = "{{list.item_category}}">
                            <input class = "none" type = "text" name = "item_price" value = "{{list.item_price}}">
                            <input class = "none" type = "text" name = "item_image" value = "{{list.item_image}}">
                            <input class = "none" type = "text" name = "item_skill1" value = "{{list.item_skill1}}">
                            <input class = "none" type = "text" name = "item_skill2" value = "{{list.item_skill2}}">
                            <input class = "none" type = "text" name = "item_skill3" value = "{{list.item_skill3}}">
                            <input class = "none" type = "text" name = "maximum_number" value = "{{list.maximum_number}}">
                            <input class = "BTM" type = "submit" value = "Continue">
                        </form>
                    </div>
                </div>
            </div>
            <div class = "advertise1">
                <h2 class = "b">MagSafe. Everything just clicks.</h2>
                <div>MagSafe is a new ecosystem of accessories for easy attachment and faster wireless charging.<br/> With endless combinations, there is a mix to match any style.</div>
                <div class = "blue"><a href = "">Shop MagSafe accessories</a></div>
                <div class = "mar"><img class = "mar" style = "display: inline-block;" src = "../../fo.jpg"></div>
            </div>
            <div class = "advertise1">
                <h2 class = "b">MagSafe. Everything just clicks.</h2>
                <div>MagSafe is a new ecosystem of accessories for easy attachment and faster wireless charging.<br/> With endless combinations, there is a mix to match any style.</div>
                <div class = "blue"><a href = "">Shop MagSafe accessories</a></div>
            </div>
        </div>
    </div>
    <div class = "wrap d"><img class = "wrap" src = "../../fo2.jpg"></div>
</body>
<script type = "text/javascript">
    input = document.querySelector('.border')
    input.addEventListener('mouseover',inputClick)
    input.addEventListener('mouseout',outputClick)
    input.addEventListener('click',inputClick)
    input2 = document.querySelector('.border2')
    input2.addEventListener('mouseover',inputClick2)
    input2.addEventListener('mouseout',outputClick2)
    input2.addEventListener('click',inputClick2)

    input3 = document.querySelector('.border3')
    input3.addEventListener('mouseover',inputClick3)
    input3.addEventListener('mouseout',outputClick3)
    input3.addEventListener('click',inputClick3)

    function inputClick(){
        input.style.border = '1px solid blue'
    }

    function outputClick(){
        input.style.border = '1px solid black'
    }


    function inputClick2(){
        input2.style.border = '1px solid blue'
    }

    function outputClick2(){
        input2.style.border = '1px solid black'
    }

    function inputClick3(){
        input3.style.border = '1px solid blue'
    }

    function outputClick3(){
        input3.style.border = '1px solid black'
    }

    let f1 = document.querySelector('.f1')
    let f2 = document.querySelector('.f2')
    let f3 = document.querySelector('.f3')
    let f4 = document.querySelector('.f4')
    let d1 = document.querySelector('.d1')
    let d2 = document.querySelector('.d2')
    let d3 = document.querySelector('.d3')
    let d4 = document.querySelector('.d4')

    let default1 = document.querySelector('.default1')
    
    let default2 = document.querySelector('.default2')
    
    let default3 = document.querySelector('.default3')
    
    let default4 = document.querySelector('.default4')

    f1.addEventListener('click',pop2)


    function pop2(){
        default1.classList.add('d1')
        default2.classList.remove('d1')
        default3.classList.remove('d1')
        default4.classList.remove('d1')

    }

    f2.addEventListener('click',pop3)


    function pop3(){
        default2.classList.add('d1')
        default1.classList.remove('d1')
        default3.classList.remove('d1')
        default4.classList.remove('d1')

    }

    f3.addEventListener('click',pop4)


function pop4(){
    default3.classList.add('d1')
    default1.classList.remove('d1')
    default2.classList.remove('d1')
    default4.classList.remove('d1')

}

f4.addEventListener('click',pop5)


function pop5(){
    default4.classList.add('d1')
    default1.classList.remove('d1')
    default3.classList.remove('d1')
    default2.classList.remove('d1')

}


</script>
</html>

<!-- \ position: sticky; -->