<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../../shopping_basket.css">
    <link rel= "stylesheet" media="screen and (max-width: 480px)" href="../../width/shopping_basket_success_width.css">
</head>
<body>
    <div class = "wrappingwrap wrap">
        <div class = "content w1200">
            <div class = "header">
                <h1>장바구니에 들어 있는 제품입니다</h1>
                <div class = "font"><a href = "/search/db">아직 안 살래요</a></div>
                <a href = "/buy/shopping_form?name={{item_name}}"><input type = "submit" class = "BTT" value = "결제"></a>
            </div>
            <div class = "line"></div>
            <div class = "content">   
                {% for list in result %}
                <form action = "/buy/shopping_basket" method = "post">
                <div class = "img height"><img class = "img" src = "../../{{list.item_image}}"></div>
                <div class = "text height">
                    <ul class = "">
                        <li class = "font1">
                            {{list.item_name}}
                        </li>
                        <li class = "font2">
                            {{list.item_category}}
                        </li>
                        <li class = "font2">{{list.item_price}}</li>
                        <li>
                            <input type = "submit" class = "BTTTN" value = "삭제하기" class = "">
                            <input type = "text" value = "{{list.item_name}}" name = "item_name" style = "display:none;">
                        </li>
                    </ul>
                    <div class = "line2">
    
                    </div>       
                </form>   
                {% endfor %}   
                    <div class = "display">
                        <div class = "LEFT"><img src = "../../aa.jpg"></div>
                        <div class = "right">
                            <h3 class = "h3">iPhone 12 mini을 위한 AppleCare+ 추가, ₩179,000</h3>
                            <ul>
                                <li>Apple 전문가의 우선 지원</li>
                                <li>Apple 전문가의 우선 지원</li>
                                <li>Apple 전문가의 우선 지원</li>
                                <li>Apple 전문가의 우선 지원</li>
                                <li class = "blue"><a href = "">더 알아보기</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class = "line2">

                    </div>
     
                    <div class = "foo display">
                        <h3 class = "h3">이 제품을 얼마나 빨리 받을 수 있는지 확인해보십시오.</h3>
                        <div class = "blue"><a href = ""> 우편번호 입력</a></div>
                        <div>
                            <div>
                                <div class = "imglast"><img class = "imglast" src = "../../box_img.png"></div>
                                <div class = "it_text">
                                    <h3>오늘 오후 3 까지 주문 시:배송</h3>
                                    <div>월 2021/06/14 - 무료 배송</div>
                                    <div>월 2021/06/14 - 무료 배송</div>
                                </div>
                            </div>
                            <div>
                                <div class = "imglast"><img class = "imglast" src = "../../box_img.png"></div>
                                <div class = "it_text">
                                    <h3>오늘 오후 3 까지 주문 시:배송</h3>
                                    <div>월 2021/06/14 - 무료 배송</div>
                                    <div>월 2021/06/14 - 무료 배송</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "line"></div>
            <div class = "pay">
                <div class = "w1000">
                    <div class = "clear grey2">
                        <div class = "c1">소계</div>
                        <div class = "c2">{{total_cost}}</div>
                    </div>
                    <div class = "clear grey2">
                        <div class = "c1">배송</div>
                        <div class = "c2">무료</div>
                    </div>
                    <div class = "line4"></div>
                    <div class = "clear bodd">
                        <div class = "c1">총계</div>
                        <div class = "c2">{{total_cost}}</div>
                    </div><br/>
                    <a href = "/buy/shopping_form?name={{item_name}}"><input type = "submit" class = "BTT add" value = "결제"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>