<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../../shopping_end.css">
</head>
<body>
    <div class = "wrappingwrap wrap">
        <div class = "wrap1200">
            <h1>주문 내역서<br/>
                주문 완료 되었습니다.
            </h1>
            <div class = "line"></div>
            {% for item in result4 %}
            <div class = "product">
                <div class = "img"><img class = "img" src = "../../{{item.item_image}}"></div>
                <div class = "text">상품명:{{item.item_name}}</div>
                <div class = "text">상품카테고리:{{item.item_category}}</div>
                <div class = "text1">상품가격:{{item.item_price}}</div>
            </div>
            {% endfor %}
            <div class = "line clear"></div>
            <div class = "clear padding">
                <div class = "text3">
                    <div class = "div">결제 상세 정보</div>
                    <div><a class = "blue" href = "">변경 > </a></div>
                </div>
                <div class = "text4">
                    <div class = "tb">결제 수단:</div>
                    <div>신용 카드</div>
                </div>
                <div class = "text5">
                    <div class = "tb">결제인 정보:</div>
                    <div>{{name}}</div>
                    <div>{{addressnumber}}</div>
                    <div>{{phone}}</div>
                </div>
            </div>
            <div class = "line"></div>
            <div class = "href">
                <h3>이용 약관</h3>
                <input type = "checkbox" class = "bdasfds"><a href = "">Apple 개인정보 취급방침</a>에 따라 개인정보를 수집하고, 사용하고, 제3자에 제공하고, 처리한다는 점에 동의합니다.
            </div>
            <div class = "line"></div>
            <div>
                <div>
                    <h3>총계</h3>
                    <div class = "w700">
                        <div class = "font-grey">
                            <div class = "left">소계</div>
                            <div class = "right">₩{{total_cost}}</div>
                        </div>
                        <div class = "font-grey">
                            <div class = "clear left">배송</div>
                            <div class = "right">무료</div>
                        </div>
                        <div class = "line2">

                        </div>
                        <div class = "lastbold">
                            <div class = "clear left">총계</div>
                            <div class = "right">₩{{total_cost}}</div>
                        </div>
                        <div class = "clear right"><a href = "/buy/history"><input value = "메인으로 이동" class = "btn" type = "button"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>