<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/music/boardWrite.css">
</head>
<body>
    <div class="board-write-wrap">
        <div class="board-write-container">
            <form method="POST" action="/user/boardWriting">
                제목 : <input type="text" name="title"><br>
                닉네임 : <input type="text" name="name"><br>
                내용 : <input class="musicContent" type="text" name="content"><br>
                <a href="/user/music">취소</a>
                <input type="submit" value="작성완료" id="board-write-btn">
            </form>
        </div>
    </div>
</body>
</html>