<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/music/board.css">
</head>
<body>
    <div class="board-wrap">
        <div class="board-container">
            <div class="board-content">
                <h2 class="board-headline">
                    수강후기
                </h2>
                <table border="1" class="board">
                    <tr>
                        <th colspan="2">
                            제목
                        </th>
                        <th>작성자</th>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>제목1</td>
                        <td>작성자1</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>