<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/music/board.css">
</head>
<body>
    <div class="board-wrap">
        <div class="board-container">
            <div class="board-content">
                <div class="board-header-wrap">
                    <h2 class="board-headline">
                        수강후기
                    </h2>
                    <div class="write-button-wrap">
                        <a class="write-button" href="/user/boardWrite">작성하기</a>
                    </div>
                </div>
                <table border="1" class="board">
                    <tr>
                        <th colspan="2">
                            제목
                        </th>
                        <th>작성자</th>
                    </tr>
                    
                    {% for item in result %}
                        <tr>
                            <td style="width: 10%;">{{item.id}}</td>
                            <td style="width: 60%"><a href="/user/musicContent/?id={{item.id}}">{{item.question_subject}}</a></td>
                            <td style="width: 30%;">{{item.question_id}}</td>
                        </tr>

                    {% endfor %}    
                
                </table>
            </div>
        </div>
    </div>
</body>
</html>