<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content-wrap">
        <div class="content-container">
            <div class="title">
                title:
                {{result.question_content}}
            </div>
            <div class="content">
                content:
                <a href="/user/hash/?content={{result.question_content}}">{{result.question_content}}</a>
            </div>
            <div class="name">
                name:
                {{result.question_id}}
            </div>
        </div>
    </div>
</body>
</html>