<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="hash">
        <span>
            태그 : {{result[0].question_content}}
        </span>
        <ul>
            {% for item in result %}
            <li>
                <span>
                    태그 : {{item.question_content}} &nbsp;
                </span>
                <span>
                    제목 : {{item.question_subject}} &nbsp;
                </span>
                <span>
                    닉네임 : {{item.question_id}}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>