*{
    margin:0;
    padding:0;
}

ul,li{
    list-style: none;
}

#chat{
    width:400px;
    height:500px;
    background:rgba(255, 255, 255, 0.856);
}


#chat>ul>li{
    display:inline-block;
    padding:7px 14px;
    border-radius:15px;
}

 #chat>div{
    height:30px;
    padding:10px;
}

#chat>ul{
    height:30px;
    padding:5px;
}

#chat>ul>li.timeClass{
    float:right;
} 


#chat>ul>li.me{
    float:right;
    background-color: rgb(255, 247, 173);
}

#chat>ul>li.you{
    float:left;
    background-color: rgb(255, 238, 238);
}

#chatInputArea{
    width:500px;
    padding:5px 7px; 
}

#chatInputArea>input{
    width:300px;
    padding:7px 14px;
    border:1px solid 999999;
}

#chatInputArea>button{
    padding:7px 14px;
    background-color: #eee;
    border:1px solid #999999;
}




/*    chatHelp    */

.chatHelp_box{
    cursor: pointer;
    width:260px;
    height:160px;
}






