*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    
}

html{
    margin: 0 auto;
}

body{
    width: 100%;
    overflow-x: hidden;
}

a{
    color: #0070c9;
}


.ac-gn-link {
    font-size: 14px;
    line-height: 3.14286;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #dedede;
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 44px;
    opacity: .8;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    outline-offset: -7px;
}

.ac-gn-link:hover{
    filter :invert(25%);
}

.ac-gn-link{
    line-height: 44px;
}


#ac-globalnav .ac-gn-link-search span{
    background: url(
        ../users/globalnav_search.svg
    )no-repeat;
    background-size: 18px 88px;
    background-repeat: no-repeat;
    background-position: center 0;
    width: 18px;
    height: 44px;
}

.ac-gn-link-bag span{
    background: url(
        ../users/globalnav_bag.svg
    )no-repeat;
    
    background-size: 16px 44px;
    background-position: center center;
    width: 16px;
    height: 44px;
}

#ac-globalnav .ac-gn-link-apple span{
    width: 16px;
    height: 44px;
    background: url(
        ../users/globalnav_apple_image.svg
    )no-repeat;
    background-size: 16px 44px;
    background-position: center center;
    
}


.ac-gn-link{
    box-sizing: content-box;
    cursor: pointer;
    
}

#ac-globalnav .ac-gn-link-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}


#ac-globalnav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 320px;
    display: block;
    font-size: 17px;
    max-height: 48px;
    height: 48px;
    z-index: 9999;
    background: linear-gradient(#2a3136e8, #181c20);
    backdrop-filter: saturate(180%) blur(20px);
}

.ac-gn-content{

    margin: 0 auto;
    max-width: 980px;
    padding: 2px 22px 0px;
    z-index: 2;
    position: relative;
}

.ac-gn-list {
    cursor: default;
    margin: 0 -10px;
    width: auto;
    height: 44px; 
    display: flex;
    justify-content: space-between;
}




/* HOME */




.mobile-only{
    display: none;
}

.tk-section-headline{
    color: #fff;
}

.container{
    text-align: center;
    text-shadow: 0 0 30px rgb(0, 0, 0 / 50%);
}

.hero{
    height: 170px;
}

.hero-image-wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/***** global nav end *****/


#ac-globalfooter{
    
    min-width: 320px;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    background-color: #f5f5f7;
    color: #1d1d1f;
    position: relative;
    bottom: -1000px;
    z-index: 1;
    
}



.ac-gf-footer-shop{
    margin-bottom: 4px;
}


/***** aside *****/

.item-bag{
 background: url(
     /users/apple_bag.png
 );
 background-repeat: no-repeat;
 background-position: 0px 12px;   
 background-size: 18px 18px;
}
.item-favorite{
    background: url(
        /users/apple_favorite.png
    );
    background-repeat: no-repeat;
    background-position: 0px 12px;   
    background-size: 18px 18px;
}
.item-orders{
    background: url(
        /users/apple_orders.png
    );
    background-repeat: no-repeat;
    background-position: 0px 12px;   
    background-size: 18px 18px;
}
.item-account{
    background: url(
        /users/apple_account.png
    );
    background-repeat: no-repeat;
    background-position: 0px 12px;   
    background-size: 18px 18px;
}

.item-signIn{
    background: url(
        /users/apple_signIn.png
    );
    background-repeat: no-repeat;
    background-position: 0px 12px;   
    background-size: 18px 18px;
}


.item-link{
    color: #06c;
    display: block;
    line-height: 44px;
    padding: 0 28px;
    text-decoration: none;
    letter-spacing: -0.016em;
    font-size: 14px;
    font-weight:400;
    z-index: 9999;
}
.ac-gn-bagview{
    position: absolute;
    top: 42px;
    left: 100%;
    transform: translateX(-55%);
    background: #fff;
    border: 1px solid #d2d2d7;
    border-radius: 18px;
    width: 286px;
    z-index: 9998;
    overflow: hidden;
}



.ac-gn-bagview-message{
    text-align: center;
    font-size: 14px;
    padding: 35px 0 28px;
    color: #6e6e73;
}
.ac-gn-bagview-nav-item{
    border-top: 1px solid #d2d2d7;
}
.ac-gn-bagview-content{
    padding: 0 20px;
}

.caret{
    position: absolute;
    right: 1%;
    top: 36px;
    z-index: 9999;
}
.caret:after{
    content: "";
    display: block;
 
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    transform-origin: 0% 0;
    background: #fff;
    border-color: #d2d2d7;
    border-radius: 2px 0 0 0;
    
}


.ac-gn-bagview,
.caret{
    display: none;
}

.ac-gn-searchview-bar{
    height: 48px;
}

.ac-gn-searchview-results{
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
    background: #fff;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    color: #86868b;
    max-height: calc(100% - 44px);
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    z-index: 9999;
    top: -2px;
    display: block;
}
.ac-gn-searchresults-header{
    font-size: 12px;
    line-height: 1.33337;
    color: #6e6e73;
    text-transform: uppercase;
    box-sizing: content-box ;
}

.ac-gn-searchresults-section{
    color: #868686;
    white-space: nowrap;
    margin: 0 40px;
    padding: 24px 0 18px;
}

.ac-gn-searchresults-list{
    padding-top: 5px;
    list-style: none;
}

.ac-gn-searchresults-link{
    overflow: hidden;
    color: #1d1d1f;
    display: block;
    padding: 0 40px;
    text-decoration: none;
    text-overflow:ellipsis;
    position: relative;
}

.ac-gn-searchresults-item{
    margin: 6px -32px;
}

.ac-gn-searchresults-item:hover{
    background-color: #f5f5f7;
}

.ac-gn-searchresults-item:hover > a{
    color: #06c;
}


#ac-gn-searchview{
    display: none;
}



.ac-gn-searchview-content{
    position: absolute;
    top: 0;
    left: 16.66667%;
    width: 66.66667%;
    z-index: 9999;
    

}


.ac-gn-item{
    display: inline-block;
    position: relative;
    height: 44px;
    z-index: 1;
}


.ac-gn-item span{
    display: block;
}

.ac-gn-serachform-wrapper{
    position: relative;
    z-index: 2;
}

.anApple{
    position: absolute!important;
    left: 450px!important;
    transform: translateX(-50%);
}

.ac-gn-searchform-input{
    position: absolute;
    width: 590px;
    height: 44px;
    padding: 0 38px 0 39px;
    caret-color: #fff;
    color: #fff;
    left: 10%;
}

.ac-gn-searchform-input:focus {
    outline:none;
}


.ac-gn-searchform-wrapper{
    position: relative;
    z-index: 9999;
    width: 44px;
    display: inline-block;
}


.ac-gn-searchform-submit{
    background-image: url(
        ../users/globalnav_search.svg
    );
    background-repeat: no-repeat;
    background-size: 18px 88px;
    background-position: 10px -44px;
    width: 38px;
    height: 44px;
    position: relative;
    left: 10%;
}

#ac-globalnav input, #ac-globalnav button {
    border: none;
    background-color: transparent;
}

.ac-gn-search-small{
    display: none;
}


.ac-gn-searchview-close{
    position: absolute;
    right: 18%;
    opacity: 0.8;
    z-index: 9999;
    width: 38px;
    height: 44px;
    top: 0;
    color: #86868b;
    cursor: pointer;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    
}

.ac-gn-searchview-close-wrapper{
    top: 0;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

.ac-gn-searchview-close-left{
    right: 12px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.ac-gn-searchview-close-right{
    left: 12px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.ac-gn-searchview-close-right,
.ac-gn-searchview-close-left{
    height: 18px;
    width: 1px;
    background: #86868b;
    position: absolute;
    display: block;
    border-radius: 0.5px;
    top: 11px;
    z-index: 1;
}




/*****  end search  *****/


.chatBtn:hover{
    cursor: pointer;
}





/***  main 채팅, 지도 CSS  ***/

#side_menu{
    width:50px;
    height:100px;
    position: fixed;
    z-index: 1000;
    right:5%;
    transform: translateX(10%);
    bottom: 18%;
}

.side_menu_box{
    background-color: #0070c9;
    width:100px;
    height:50px;
    border:1px solid #0070c9;
    font-size:20px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    opacity: 0;
  
}
.side-apple{
    background-color: #0070c9;
    width:60px;
    height:50px;
    border:1px solid #0070c9;
    font-size:20px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.side-apple > div{
    background-image: url(
        /users/globalnav_apple_image.svg
    );
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
    text-align: center;
}


.side_menu_box>a{
    color:#fff;
    line-height: 50px;
}

.side_menu_hover:hover{
    background-color: #229cff;
}


.grid-copy{
    padding-top: 60px;
}

.grid-image{
    padding-top: 70px;
}

.backgroundKey001{
    background-color: #efe5fe;
    color: #45298d;
}



.backgroundBlack{
    background-color: #9c99a2;
    color: #1d1d1f;
}

.backgroundBlue{
    background-color: #aecbd9;
    color: #3948b1;
}


.backgroundGreen{
    background-color: #e2f4de;
    color: #50976a;
}

.backgroundRed{
    background-color: #ff9e9d;
    color: #da463c;
}

.backgroundWhite{
    background-color: #fcf6f0;
    color: #ff784b;
}

.img-purple1{
    transform: matrix(1, 0, 0, 1, 0, 0);
    top: -10px;
    left: 4px;

}
.img-purple2{
    transform: matrix(1, 0, 0, 1, 0, 150);
    left: -4px;
}

.backgroundKey001 img,
.back-color img{
    position: relative;
    top: 140px;
}
.block1,
.block6,
.backgroundKey001,
.back-color{
    height: 1000px;
    width: 100%;
}


.backRelative{
    position:relative;
    width: 100%;
    margin: 0 auto;
}

.sticky-contents{
    position: sticky !important;
    height: 100vh;
    width: 100%;
}

.back-color{
    position:absolute;
    top: 0;
    opacity: 0;
}

.grid-image{
    margin: 0 auto;
    width: 80%;
    min-width: 400px;
}