*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    
}

a{
    color: #0070c9;
}

#ac-globalnav .ac-gn-link-apple{
   
    background-size: 16px 44px;
    background-position: center center;
    width: 16px;
}

.ac-gn-link {
    font-size: 14px;
    line-height: 3.14286;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #f5f5f7;
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 44px;
    opacity: .8;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    outline-offset: -7px;
}


#ac-globalnav .ac-gn-link-search {
    background-size: 18px 88px;
    background-repeat: no-repeat;
   
    background-position: center center;
    width: 18px;
}


.ac-gn-list{
    display: flex;
    width: auto;
}

.ac-gn-link{
    overflow: hidden;
}

#ac-globalnav .ac-gn-link-text {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}


#ac-globalnav{
    width: 100%;
    min-width: 1024px;
    display: block;
    font-size: 17px;
    max-height: 48px;
    height: 48px;
    z-index: 9997;

    background: rgba(0, 0, 0, 0.8);
}

.ac-gn-content{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    z-index: 9999;
    position: relative;
}

.ac-gn-list {
    cursor: default;
    margin: 0 -10px;
    width: auto;
    height: 44px; 
    display: flex;
    justify-content: space-between;
}

.mobile-only{
    display: none;
}

.tk-section-headline{
    color: #fff;
}

.container{
    text-align: center;
    text-shadow: 0 0 30px rgb(0, 0, 0 / 50%);
}

.hero{
    height: 170px;
}

.hero-image-wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/***** global nav end *****/


#ac-globalfooter{
    min-width: 320px;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    background-color: #f5f5f7;
    color: #1d1d1f;
    position: relative;
    z-index: 1;
    
}



.ac-gf-footer-shop{
    margin-bottom: 4px;
}


.inputFocus{
    animation-name: inputFocus;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

.inputFocusOut{
    animation-name: inputFocus;
    animation-duration: .2s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes inputFocus{
    from{
        font-size: 17px;
        top: 18px;

    }to{
        font-size: 12px;
        top: 10px;
    }
}

/***** aside *****/

.item-bag{
 background: url(
     /users/apple_bag.png
 );
 background-repeat: no-repeat;
 background-position: 0px 12px;   
 background-size: 18px 18px;
}
.item-favorite{
    background: url(
        /users/apple_favorite.png
    );
    background-repeat: no-repeat;
    background-position: 0px 12px;   
    background-size: 18px 18px;
}
.item-orders{
    background: url(
        /users/apple_orders.png
    );
    background-repeat: no-repeat;
    background-position: 0px 12px;   
    background-size: 18px 18px;
}
.item-account{
    background: url(
        /users/apple_account.png
    );
    background-repeat: no-repeat;
    background-position: 0px 12px;   
    background-size: 18px 18px;
}

.item-signIn{
    background: url(
        /users/apple_signIn.png
    );
    background-repeat: no-repeat;
    background-position: 0px 12px;   
    background-size: 18px 18px;
}


.item-link{
    color: #06c;
    display: block;
    line-height: 44px;
    padding: 0 28px;
    text-decoration: none;
    letter-spacing: -0.016em;
    font-size: 14px;
    font-weight:400;
    z-index: 9999;
}
.ac-gn-bagview{
    position: relative;
    background: #fff;
    border: 1px solid #d2d2d7;
    border-radius: 18px;
    width: 286px;
    z-index: 9998;
    overflow: hidden;
}
.ac-gn-bagview-message{
    text-align: center;
    font-size: 14px;
    padding: 35px 0 28px;
}
.ac-gn-bagview-nav-item{
    border-top: 1px solid #d2d2d7;
}
.ac-gn-bagview-content{
    padding: 0 20px;
}

.caret{
    position: absolute;
    right: 1%;
    top: 36px;
    z-index: 9999;
}
.caret:after{
    content: "";
    display: block;
 
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    transform-origin: 0% 0;
    background: #fff;
    border-color: #d2d2d7;
    border-radius: 2px 0 0 0;
    
}

.ac-gn-bagview{
    top: -2px;
    left: 100%;
    transform: translateX(-50%);
    margin-right: calc(512px-50vw);
    background: #fff;
}