

.hero.create{
    background: #666 url(
        https://appleid.cdn-apple.com/static/bin/cb3521079850/dist/assets/apple_id_recovery_2880x340.jpg
    )no-repeat;
}

.intro{
    padding-top: 30px;
    color: #000;
    text-align: center;
}

.sk-icon-chevronright:before{
    content: ">";
}

.more:after, .more:before, .sk-icon:after, .sk-icon:before {
    font-family: SF Pro Icons;
    display: inline-block;
    font-style: normal;
    line-height: 1;
    position: relative;
    z-index: 1;

}
.no-wrap{
    color: #0070C9;
}

/***** end intro section *****/

.flow-section{
    max-width: 1200px;
    margin: auto;
    width: 80%;
    border-bottom: 1px solid #e7e7e8;
    padding: 30px 0 20px;
}

.form-textbox{
    font-size:17px;
    line-height: 1.23543;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 4.3em;
    margin-bottom: 14px;
    padding-top: 18px;
    padding-left: 16px;
    padding-right: 16px;
    color: #333;
    text-align: left;
    border: 1px solid #d6d6d6;
    border-radius: 4px ;
    background: hsla(0, 0%, 100%, .8);
    background-clip: padding-box;
}

.form-element{
    position: relative;
}

.form-textbox~.form-label{
    position: absolute;
    top: 18px;
    left: 17px;
    color: #888;

}

.tk-body-reduced{
    font-size: 14px;
    line-height: 1.42861;
    font-weight: 400;
    margin-bottom: 10px;
    color: #666;
}

.form-cell{
    display: inline-block;
}

.centered{
    margin: auto;
}

.container-xs{
    max-width: 460px;
}

.privacy-wrapper{
    max-width: 465px;
    padding-bottom: 30px;
    padding-top: 20px;
    color:#666;
}

.tk-caption{
    font-size: 12px;
    line-height: 1.33341;
    font-weight: 400;
}

.text-centered{
    text-align: center;
}

.privacy-icon{
    
    background:url(
        https://appleid.cdn-apple.com/static/bin/cb1900903086/dist/assets/privacy-icon.png
    )no-repeat;
    width: 35px;
    height: 28px;
    margin: 10px auto;
    background-size: cover;
    background-position: 50%;
}

.toolbar-footer{
    min-height: 40px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding: 0 0 40px;
}

/*joinBtn (button 에서 script사용때문에 div로 바꿧습니다) 
그래서 joinBtn에 width, height, margin:0 , auto 추가해서 이전 button과 똑같이 만들엇습니다*/
#joinBtn{
    width:72px;
    height:36px;
    font-size: 18px;
    line-height: 1.47059;
    font-weight: 400;
    background-color: #0070c9;
    background: linear-gradient(
        #42a1ec, #0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    min-width: 30px;
    padding: 4px 15px;
    margin : 0 auto;
}

#app-content{
    padding-bottom: 95px;
}



.ac-gf-footer{

    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;

}

.choose{
    color: #515154;
    float: right;
}

.ac-gf-footer-legal-copyright{
    margin-right: 20px;
    float: left;
}


.ac-gf-footer-legal-link{
    margin-left: 8px !important;
}

.con:after{
    content: '|';
    padding-left: 8px;
}


.ac-gf-footer-legal-links > a{
    color: #515154;
}

.ac-gf-footer{
    color: #86868b;
}

.label-small{
    display: block;
    color: #666666;
    font-size: 12px;
    margin: 6px 0 10px 0;
}

.form-label{
    font-size: 16px;
    pointer-events: none;
}

.ac-gf-footer-mini{
    padding: 17px 0 21px;
}

.hero.create{
    margin-top: 100px;
}

