

.displaynone{
    display: none;
}

#loginBtn{
 cursor: pointer;
 text-align: center;
 background: #0071e3;   
 color: #fff;
 font-size: 17px;
 line-height: 1.17648;
 font-weight: 400;
 min-width: 28px;
 padding: 18px 31px;
 border-radius: 12px;
}

.login-aos-sign-in-submit{
    margin-bottom: 10px;
}

.login-content{
 max-width: 320px;  
 margin: 0 auto; 
}

.login-textbox-input{
    line-height:1.35296;
    letter-spacing: 0;
    color: #1d1d1f;
    border-color: #d6d6d6;
    background-color: #E8F0FE;
    text-overflow: ellipsis;
    font-size: 17px;
    font-weight: 400;
    width: 100%;
    height: 3.29412rem;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: .82353rem;
    padding: 1.05882rem .94118rem 0;
    text-align: left;
}

.login-textbox-label{
    line-height: 1.35296;
    letter-spacing: 0;
    color: #86868b;
    position: absolute;
    pointer-events: none;
    top: 1.05882rem;
    left: 1rem;
    font-size: 17px;
    font-weight: 400;
    max-width: clac(100% - 32px);
}

.login-textbox{
    position: relative;
}

.login-sign-in-info{
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 35px;
    color: #fff;
}

.login-wrapper{
    padding-top: 61px;
    padding-bottom: 92px;
}

.login-sign-in-forgot-password{
    margin-top: 4px;
}

.login-sign-in-account{
    margin-top: 7px;
}

.login-sign-in-forgot-password,
.login-sign-in-account{
    line-height: 1.58824;
    
}

.ar-chat{
    padding: 21px 0;
    width: 980px;
    margin: 0 auto;
}

.as-footnotes{
    font-size: 12px;
    color: #86868d;
    line-height: 1.33337;
    font-weight: 400;
    background-color: #f5f5f7;
}

.as-footnotes-content{
    max-width: 980px;
    padding: 0 22px;
    margin: 0 auto;
}

.as-footnotes-sosumi{
    padding: 17px 0 11px;
}

.lastP{
    margin-top: 4px;
}

.securityInfo{
    color: #515154;
}

.login-header{
    padding: 20px 0 ;
    color: #fff;
    text-align: center;
    
}

.rs-aos-sign-in-form{
    background: url(
        /users/apple_id_desktop.jpeg
    );
    background-size: cover;
    padding: 80px 0 90px;
    margin-top: 44px;
}

.login-sign-in-forgot-password span,
.login-sign-in-account span{
    color: #E8F0FE;
    font-size: 14px;
}
.flow-container{
    text-align: center;
    margin-bottom: 70px;
}

.ar-chat{
    border-top: 1px solid #d2d2d7;
}

.apps-icons-2x{
    background: url(
        /users/app_icons2x.png
    );
    background-size: cover;
    width: 656px;
    height: 68px;
    margin: 0 auto;
}

.apps{
    padding: 40px 0;
}

.flow-header{
    margin-bottom: 12px;
}

.subnav{
    margin-top: 44px;
    z-index: 2;
    background-color: #fff;
    opacity: .9;
    height: 61px;
    width: 100%;
    position: absolute;
}

.subnav-container{
    max-width: 900px;
    margin: auto;
    box-sizing: content-box;
    padding: 0 15px;
    z-index: 3;
}

.title{
    line-height: 61px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.009em;
    display: inline-block;
}

.pull-right{
    float: right;
    display: flex;
}

.subnav .item{
    height: 60px;
    padding: 0 15px;
    line-height: 60px;
}

.menu{
    display: flex;
}

.as-footnotes-sosumi{
    border-bottom: 1px solid #d2d2d7;
    padding: 17px 0 21px;
}


