<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="chat">
        <div>
            <span class="my"></span>
        </div>
        <div>
            <span class="you"></span>
        </div>
    </div>
    <div id="chatInputArea">
        <input type="text" id="msg">
        <button onclick="send()" value = "답변" id = "button">전송</button>
    </div>
</body>
</html>