<div class = "headerWrap wrap">
    <div class = "header w1200">
        <div class = "logo">
            <img src = "">
        </div>
        <div class = "user">
            <img src = "">
            <div class = "userId">

            </div>
        </div>
    </div>
</div>
<div class = "middleWrap wrap">
    <div class = "middle w1200">
        <div class = "menu">
            <div>카테고리</div>
            <ul>
                <li><a href = "">팝업 관리</a></li>
                <li><a href = "">상품 관리</a></li>
                <li><a href = "">고객 문의/채팅</a></li>
            </ul>
            <div>유저정보</div>
            <ul>
                <li><a href = "">관리자 정보</a></li>
            </ul>
        </div>
    </div>
    <div class = "middle w1200">
        <div class = "">상품 추가하기</div>
        <table>
            <tr>
                <td>제품번호</td>
                <td>{{result.idx}}</td>
            </tr>
            <tr>
                <td>제품명</td>
                <td></td>
            </tr>
            <tr>
                <td>제품가격</td>
                <td></td>
            </tr>
            <tr>
                <td>제품이미지</td>
                <td><img src = ""></td>
            </tr>
            <tr>
                <td>제품사이즈</td>
                <td></td>
            </tr>
            <tr>
                <td>제품색깔</td>
                <td>

                </td>
            </tr>
            <tr>
                <td>제품용량</td>
                <td>

                </td>
            </tr>
        </table>
        <a href = "">수정하기</a>
        <a href = "">리스트로</a>
    </div>
</div>