<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../../../admin/css/product_add.css">
</head>
<body>
    <div class = "headerWrap wrap">
        <div class = "header w1200">
            <div class = "logo">
                <img src = "">
            </div>
            <div class = "user blue">
                <div class = "">관리자 <span>{{userid}}</span>님</div>
                <a href = "/admin/logout">로그아웃</a>
            </div>
        </div>
    </div>
    <div class = "middleWrap wrap">
        <div class = "middle w1200">
            <div class = "menu">
                <div>카테고리</div>
                <ul>
                    <li><a href = "">팝업 관리</a></li>
                    <li><a href = "/admin/user_list">사용자 관리</a></li>
                    <li><a href = "/admin/product_list">교육 서비스 관리</a></li>
                    <li><a href = "/admin/valuation">수강 후기 관리</a></li>
                    <li class = "margintop"><a href = "/admin/chat_list">고객 문의/채팅</a></li>
                </ul>
                <div class = >유저정보</div>
                <ul>
                    <li><a href = "/admin/admin_info">관리자 정보</a></li>
                </ul>
            </div>
            <div class = "content">
                <form action = "/admin/product_list/success" method = "post" enctype = "multipart/form-data">
                    <div class = "grey">교육 서비스 추가하기</div>
                    <table>
                        <tr>
                            <td class = "w100">아이템 넘버</td>
                            <td class = "w600"><input type = "text" class = "w600" name = "item_serial_number"></td>
                        </tr>
                        <tr>
                            <td class = "w100">교육 서비스명</td>
                            <td class = "w600"><input type = "text" class = "w600" name = "item_name"></td>
                        </tr>
                        <tr>
                            <td class = "w100">가격</td>
                            <td class = "w600"><input type = "text" class = "w600" name = "item_price"></td>
                        </tr>
                        <tr>
                            <td class = "w100">교육 이미지</td>
                            <td class = "w600"><input type = "file" class = "greyBtn" id = "img" name = "img"></td>
                        </tr>
                        <tr>
                            <td class = "w100">교육 카테고리</td>
                            <td class = "w600">
                                <select class = "greyBtn" name = "item_category">
                                    <option value = "Blockchain" name = "item_category">블록체인</option>
                                    <option value = "ARVR" name = "item_category">가상증강</option>
                                    <option value = "GAMMING" name = "item_category">게임</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class = "w100">교육 과목명</td>
                            <td class = "w600">
                                <select class = "greyBtn" name = "item_skill">
                                    <option value = "C++" name = "item_skill">C++</option>
                                    <option value = "JAVSCRIPT" name = "item_skill">JAVSCRIPT</option>
                                    <option value = "NODEJS" name = "item_skill">NODEJS</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class = "w100">교육 태그 </td>
                            <td class = "w600"><input type = "text" class = "w600" name = "item_tag"></td>
                        </tr>
                    </table>
                    <input class = "blueBtn" type = "submit" value = "서비스 추가">
                </form>
            </div>
        </div>
    </div>
</body>
<script type = "text/javascript">
</script>
</html>