@media screen and (max-width: 480px) 

{ 

.w1200{
    width:100vw;
    margin:0 auto;
}
.header>h1{
    font-size: 20px;
}
.display{
    display: none;
}
.text>ul{
    width:500px;
}
.w1000{
    width:420px;
    margin:0 auto;
}
}