<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../../../admin/css/join.css">
    <title>Document</title>
</head>
<body>
    <div class = "wrap">
        <div class = "w1000">
            <div class = "join">회원가입</div>
            <form action = "/admin/join_success" id = "frm" method = "post" enctype="multipart/form-data">
                <div class = "userlevel">사용자 구분 : </div>
                <input type = "radio" class = "" name = "admin" value = "0" checked><span class = "grey2"> 관리자</span>
                <input type = "radio" class = "" name = "admin" value = "1"><span class = "grey2"> 일반 사용자</span>
                <div class = "userid">아이디 : </div>
                <input type = "text" class = "grey userid_value" placeholder="ID" name = "userid">
                <p class="userid_msg blue" id = "check_msg"></p>
                <div class = "userpw">비밀번호 : </div> 
                <input type="password" class = "grey userpw_value"  placeholder="PASSWORD" name = "userpw"></br>
                <div class = "userpw_check">비밀번호 확인 : </div> 
                <input type="password" class = "grey userpwcheck_value"  placeholder="PASSWORD_CHECK"></br>
                <div class = "username">이름 : </div> 
                <input type="text" class = "grey username_value"  placeholder="NAME" name = "username"></br>
                <div class = "useremail">이메일 : </div> 
                <input type="text" class = "grey useremail_value"  placeholder="E-MAIL" name = "useremail"><br/>
                <div class = "useremail">휴대폰 : </div> 
                <input type="text" class = "grey usermoblie_value"  placeholder="PHONENUMBER" name = "mobile"><br/>
                <div class = "userpw">생년월일 : </div> 
                <input type="text" class = "grey userbirth_value"  placeholder="8자리 형식" name = "userbirth"><br/>
                <div class = "username">주소 : </div> 
                <input type="text" class = "grey useraddress_value"  placeholder="ADDRESS" name = "address"><br/>
                <div class = "image">IMAGE UPLOAD : </div>
                <input name="img" class = "grey3 wid" id = "input_image" type="file"><br/>
                <input type = "button" id = "submitBtn" class = "blue2" value = "회원가입">
            </form>
        </div>
    </div>
</body>
<script type = "text/javascript">
    
    const submitBtn = document.querySelector('#submitBtn')
    const frm = document.querySelector('#frm')
    const userid = document.querySelector('.userid_value')
    submitBtn.addEventListener('click',submitBtnFn)
    userid.addEventListener('focusout',useridFn)
        
    async function useridFn(){
        const check_msg = document.querySelector('#check_msg')
        const userid_value = document.querySelector('.userid_value').value
        let result = await fetch(`http://localhost:4000/admin/userid_check?userid=${userid_value}`)
        let {check}= await result.json()
        if(check){
            check_msg.innerHTML = '사용 가능한 아이디입니다.'
        }else{
            check_msg.innerHTML = '중복된 아이디입니다.'
        }
    }

    async function submitBtnFn(){
        const userpw = document.querySelector('.userpw_value').value
        const userpwCheck = document.querySelector('.userpwcheck_value').value
        const username = document.querySelector('.username_value').value
        const userimage = document.querySelector('#input_image').value
        const useremail = document.querySelector('.useremail_value').value

        if(userpw != userpwCheck){
            alert('비밀번호가 일치하지 않습니다')
            return
        }
        if(userid==""||userpw==""||username==""||useremail==""){
            alert('빈칸을 채워주세요')
            return
        }

        frm.submit()

    }
</script>
</html>