<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../../../admin/css/login.css">
</head>
<body>
    <div class = "loginWrap wrap">
        <div class = "login w1200">
            <form action = "/admin/login_success" method = "post">
                <div class = "class">관리자</div>
                <div class = "id"> 아이디 :  <input type = "text" placeholder = "id" name = "userid"></div>
                <div class = "pw"> 패스워드 :  <input type = "password" placeholder = "pw" name = "userpw"></div>
                <br/><input class = "greyBtn" type = "submit" value="로그인">
            </form><br/>
            <div class = "blue">관리자용 회원가입</div>
            <div class = "blue2"><a href = "/admin/join">회원가입</a></div>
            <div class = "blue2"><a href = "/admin/chat_list">채팅테스트</a></div>
        </div>
    </div>
</body>
</html>